// Palette
// See Bulma variables:
// https://bulma.io/documentation/customize/variables/

/* 
  GF 04/05/2022: Convention to define colour variable names.
  We use names that are not tied to neither the specific colour
  nor to the object they are initially tied to.
  Initial colour palette derived from flat designs:
  https: //www.figma.com/file/8mGkpFZTQpL7kpGCOYRgC8/Alice-Thornton?node-id=164%3A1480
*/

// Duotone images color: #8e7860

// Project variables

$white: #fbfbfb;
$primary: #462200;
$primary-light: #701711;
// $secondary: #c45300;
// GF 18/05/2022: changed to a slightly darker orange to meet accessiblity
// requirements for colour contrast
$secondary: #b34200;

$accent: #df8833;
$dark: #0a0a0a;
$light: #cdcac7;

$link: #0b4d99;



// Panel customisation (see Text Viewer)
// Bulma's docs: https://bulma.io/documentation/components/panel/

$panel-heading-background-color: $white;
$panel-heading-size: 1em;
// $panel-item-border: 1px solid $primary;
$panel-radius: 0;
$panel-shadow: 0;

// Box customisation (see citations)
// Bulma's docs: https://bulma.io/documentation/elements/box/

$box-radius: 0;
$box-shadow: 0;
