// Palette
// See Bulma variables:
// https: //bulma.io/documentation/customize/variables/

/* 
  GF 04/05/2022: Convention to define colour variable names.
  We use names that are not tied to neither the specific colour
  nor to the object they are initially tied to.
  Initial colour palette derived from flat designs:
  https: //www.figma.com/file/8mGkpFZTQpL7kpGCOYRgC8/Alice-Thornton?node-id=164%3A1480
*/

@import "fonts.scss";

// Project variables

$white: #fbfbfb;
$primary: #462200;
// $secondary: #c45300;
// GF 18/05/2022: changed to a slightly darker orange to meet accessiblity
// requirements for colour contrast
$secondary: #b34200;
$accent: #df8833;
$light: #cdcac7;
$dark: #0a0a0a;

@import "../node_modules/bulma/bulma.sass";

body {
  background: linear-gradient(
      0.75turn,
      transparent 60%,
      rgba(lighten($primary, 70%), 0.5)
    ),
    url("/assets/img/alice-thornthon-bg-2.jpg") top left repeat-y;
  background-size: 100vw;

  box-sizing: border-box;
}

.content {
  box-sizing: content-box;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

a.button-hp {
  display: block;
  margin-bottom: 1em;
  text-decoration: none;

  &:hover {
    background-color: transparent;
    
    .read-more-hp {
      background-color: $accent;
    }

    svg {
      fill: $accent;
    }
  }

  svg {
    display: block;
    fill: $primary;
    margin: .25em auto 0;
    width: 12px;
  }
}

.read-more-hp {
  display: block;
  margin: 0 auto 0 !important;
  max-width: 300px;
  padding: .75em 0 0 0;
  text-decoration: none;

  &:hover {
    background: $accent;
  }
}

// TODO:
// Customise Bulma's variables rather than override them
.is-primary {
  background: $primary;
}

.is-secondary {
  background: $secondary !important;
}

.is-accent {
  background: $accent;
  color: $black;
}

a.tag {
  text-decoration: none;
}
// END TODO

// Shared layout

body {
  background-color: $white;
  font-family: "Noto", sans-serif;
  font-size: 18px;
  font-weight: 450;
  line-height: 1.75;
}

a {
  text-decoration: underline;

  &:hover {
    background-color: lighten($accent, 25%);
  }
}

p {
  &.small {
    font-size: 0.875em;
  }
}

// Headings

h1,
h1.title {
  font-size: 2.25em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $secondary;
    font-family: "Lora", serif;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $secondary;
  font-family: "Lora", serif;

  &.small-heading {
    font-size: 1.5em;
  }
}

.index-page-titles {
  background: lighten($secondary, 55%);
  padding: 0.25em;
  a {
    color: $black;
    text-decoration: none;
  }
}

.title {
  color: $secondary;
}

// Index pages with images

.index-page-w-images,
.person-bio {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 2em;
  margin-bottom: 1em;

  @include mobile {
    grid-template-columns: 100%;
  }
}

.index-page-w-images {
  img {
    width: 100%;
  }
}

footer,
.footer {
  background-color: lighten($light, 30%);
}

// Alignment

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Images */

.content .icon {
  img {
    background: transparent;
  }
}

figure {
  .media-left,
  .media-right,
  .media-center,
  // GF 05/07/22
  // TODO: fragments can be removed after
  // they are removed from markdown.
  // `float: unset` needs to remain to override Bulma's default.
  img[src*="#left"],
  img[src*="#right"],
  img[src*="#center"] {
    float: unset;
  }

  .media-left,
  .media-right {
    max-width: 30vw;

    @include mobile {
      display: block;
      float: none;
      margin: 0.5em 0;
      max-width: 100%;
    }
  }

  &.media-left {
    float: left;
    margin: 0.5em 1em 0.5em 0 !important;
  }

  &.media-right {
    float: right;
    margin: 0.5em 0 0.5em 1em !important;
  }

  &.media-center {
    display: block;
    margin: 1em auto;
  }

  @include mobile {
    &.media-left,
    &.media-right {
      display: block;
      float: none;
      margin: 1em !important;
    }
  }
}

figcaption {
  font-size: 0.875em;
  margin: 0 auto;
  max-width: 400px;
}

// Gallery

[class^="gallery-"] {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;

  img {
    width: 100% !important;
  }

  p {
    margin-bottom: 0;
    padding: 0.5em;
  }
}

.gallery-by-2 {
  grid-template-columns: 1fr 1fr;
}

.gallery-by-3 {
  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery-by-4 {
  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.logo {
  img {
    background: $white;
    border: 1px solid $light;
    border-radius: 50%;
    display: block;
    height: 50px;
    max-height: 50px;
    margin-right: 8px;
    width: 50px;
  }
}

.logos,
.content .logos,
[class^="gallery-"] .logos {
  padding: 50px;

  img {
    background: transparent;
    max-width: 90%;
  }

  @include mobile {
    padding: 10px;
  }
}

.logos {
  margin: 0 auto;
  max-width: 1280px;
}

.navbar {
  background-color: $primary;
  color: $light;

  .navbar-burger {
    color: $light;
    &:hover {
      background-color: $light;
      color: $primary;
    }
  }

  a.navbar-item {
    background-color: $primary;
    padding: 1.5rem 1rem 1.25rem;
    text-decoration: none;

    color: $light;

    &.is-active {
      border-bottom: 4px solid $white;
      color: $white;
    }

    @include touch {
      &.is-active {
        background-color: $secondary;
        border-bottom: none;
      }
    }

    &:hover {
      background-color: $white;
      color: $primary;
    }

    &:focus {
      border: 1px solid $accent;
    }
  }

  .navbar-menu {
    background-color: $primary;

    .is-active {
      color: $primary;
    }
  }
}

// /posts

.post-meta {
  font-size: 0.875em;
  font-style: italic;

  .tag {
    margin-right: 0.5em;
  }
}

div.content {
  img {
    background: $light;
    padding: 3px;
  }
}

// img[src*="#right"] {
//   float: right;
//   margin-left: 0.5em;
// }

// img[src*="#left"] {
//   float: left;
//   margin-right: 0.5em;
// }

// img[src*="#center"] {
//   display: block;
//   margin: 0.5em auto;
// }

// img[src*="#left"],
// img[src*="#right"] {
//   max-width: 30vw;

//   @include mobile {
//     display: block;
//     float: none;
//     margin: 0.5em 0;
//     width: 100%;
//   }
// }

// Social media

ul.social_media_block {
  display: grid;
  list-style: none;
  margin: 0 auto;
  max-width: 960px;

  grid-template-columns: 100%;
  grid-gap: 15px;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;

    li {
      margin-top: 0;
    }
  }

  figure {
    margin-left: 0;
    margin-bottom: 1em !important;
  }
}

.tweet {
  background: $white;
  border: 1px solid lighten($light, 10%);
  border-radius: 0.5em;
  font-size: 0.875em;
  line-height: 1.5;
  padding: 1em;

  .icon {
    svg {
      fill: $accent;
    }
  }
}

.twitter_user {
  display: grid;
  grid-template-columns: 40px auto;
}
