// Palette
// See Bulma variables:
// https://bulma.io/documentation/customize/variables/

/* 
  GF 04/05/2022: Convention to define colour variable names.
  We use names that are not tied to neither the specific colour
  nor to the object they are initially tied to.
  Initial colour palette derived from flat designs:
  https: //www.figma.com/file/8mGkpFZTQpL7kpGCOYRgC8/Alice-Thornton?node-id=164%3A1480
*/

// Duotone images color: #8e7860

@import "fonts.scss";
@import "color-theme";

@import "../node_modules/bulma/bulma.sass";

.is-primary {
  background: $primary;
  text-decoration: none;
}

.is-secondary {
  background: $secondary;
}



/* Global styles */

a {
  color: $secondary-dark;

  &:focus {
    border: 1px solid $secondary;
  }

  // GN: see AC-117, without this the border around the focused <a> (inline)
  // would display weirdly
  // Use this on <a> that contain non-inline elements.
  // Note: don't use .block, that's bulma class.
  &.a-block {
    display: block;
  }
}

a.tag {
  text-decoration: none;
}

.content blockquote {
  margin-left: auto;
  margin-right: auto;
  padding: 1.25rem 0.75rem;

  &::before {
    color: $secondary-dark;
    content: "“";
    display: block;
    font-family: "Lora", serif;
    font-size: 7rem;
    line-height: 1;
    margin: -1rem 0 -4.5rem 0;
  }

  p {
    color: $secondary-dark;
    font-family: "Lora", serif;
    font-size: 1.25rem;
    margin-left: 3.5rem;
  }
}

// Shared layout

body {
  // Exclude the text viewer
  //background: url("/assets/img/last-bg.jpg");

 /* @media screen and (min-width: 1140px) {
    background: url("/assets/img/last-bg.jpg");
    background-position: 0 60px;
    background-repeat: repeat-y;
    background-size: 100%;
  }*/

  font-family: "Noto", sans-serif;
  font-size: 18px;
  font-weight: 450;
  line-height: 1.75;
  
}

body:not(.slug-viewer) {
  // Exclude the text viewer
  //background: url("/assets/img/last-bg.jpg");

  @media screen and (min-width: 1140px) {
    background: url("/assets/img/script-outlined.svg") /* ,
    url("/assets/img/last-bg.jpg")*/;
    background-position: -120px 120px, 0 60px;
    background-repeat: no-repeat, repeat-y;
    background-size: 200px, 100%;
    &:before{
      background: url("/assets/img/last-bg.jpg") center/cover;
      content: '';
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.6;
    }
  }

}

a {
  text-decoration: underline;

  &:hover {
    background-color: $secondary-dark;
  }
}

// GF 26/01/2023: tired of fighting with Bulms's defaults
// Going nuclear on max-width for container

.container {
  @media screen and (min-width: 1120px) {
    max-width: 1120px !important;
    padding: 0 6rem !important;
  }
}

// GN: fix text spilling over text viewer because bulma padding is too large
div.container.is-fluid {
  padding-left: 0;
  padding-right: 0;
}

// End nuclear

// .text-viewer .field.is-grouped.is-grouped-right {
//   display: block;
//   float: right;
// }

.content {
  box-sizing: content-box;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

p {
  &.small {
    font-size: 0.875em;
  }
}

// Headings

h1,
h2,
h3,
h4,
h5,
h6{
  color: $secondary-dark;
  font-family: "Lora", serif;
}

h1.title {
  font-size: 2.25em;
  color:$secondary-dark;
}

.content h2 {
  font-size: 1.5em;
  color:$secondary;
  &:not(.undecorated)::before {
    background: url("/assets/img/symbol.svg") left top no-repeat;
    background-size: 1.5rem;
    content: "";
    display: inline-block;
    margin-right: 0.25rem;
    height: 1.5rem;
    width: 1.5rem;
  }
  &.index-page-titles {
    padding-left: 0;
  }
}

h3 {
  font-size: 1.25em;
}


.index-page-titles {
  padding: 0.25em;
  a {
    color: $black;
    text-decoration: none;
  }
}

.marginalia {
  position: absolute;
  left: -11vw;
  width: 20vw;
}

.top-nav {
  background: url("/assets/img/at-decoration-pattern-1.jpg") left 96% repeat-x;
  background-size: 50px;
  padding-bottom: 1rem;
  position:sticky;
  top:0;
  z-index:1;
}

// Homepage


.read-more-hp {
  display: block;
  margin: 0 auto 0;
  max-width: 300px;
  padding: 0.75em 0 0 0;
  text-decoration: none;

  &:hover {
    background: $secondary-dark;
  }
}

// Index pages with images

.index-page-w-images,
.person-bio {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 2em;
  margin-bottom: 1em;

  @include mobile {
    grid-template-columns: 100%;
  }
}

.index-page-w-images {
  img {
    width: 100%;
  }
}

body > footer.footer {
  background: url("/assets/img/at-decoration-pattern-1.jpg") left -5px repeat-x lighten($gray, 30%);
  background-size: 60px;

  .logo-x {
    img {
      background-color: black;
      padding: 2px;
    }
  }
  .social-logo {
    vertical-align: middle;
    margin-left: 8px;
  }
}

// Alignment

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Icons */

// within a button
.icon {
  color: hsl(0deg, 0%, 29%);
  // color: red;
}



/* Images */

.content .icon {
  img {
    background: transparent;
  }
}

.content figure {
  box-sizing: border-box;

  &.media-left,
  &.media-right,
  &.media-center {
    float: unset;
    max-width: 30%;
  }

  &.media-left {
    clear: left;
    float: left;
    margin: 0.5em 1em 0.5em 0;
  }

  &.media-right {
    clear: right;
    float: right;
    margin: 0.5em 0 0.5em 1em;

    figcaption {
      margin-left: 1em;
    }
  }

  &.media-center {
    display: block;
    margin: 1em auto;
  }

  &.media-full {
    clear: both;
    display: block;
    float: none;
    margin: 1em 0;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .media-center,
  .media-left,
  .media-right,
  &.media-center,
  &.media-left,
  &.media-right {
    @include mobile {
      display: block;
      float: none;
      margin: 0.5em auto;
      max-width: 100%;
    }
  }
}

.media-left,
.media-right {
  @include tablet {
    + *,
    + * + * {
      box-sizing: border-box;
      display: inline-block;
      margin-top: 0.625rem;
      width: 65%;
    }

    + blockquote,
    + * + blockquote {
      box-sizing: border-box;
      max-width: 62%;
    }

    + * + * + * {
      clear: both;
    }
  }
}

figcaption {
  box-sizing: border-box;
  font-size: 0.875em;
  line-height: 1.5;
  margin: 0 0 1em;
  width: 100% !important;

  @include mobile {
    max-width: 100%;
  }
}

// Gallery

[class^="gallery-"] {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;

  img {
    width: 100%;
  }

  p {
    margin-bottom: 0;
    padding: 0.5em;
  }
}

.gallery-by-2 {
  grid-template-columns: 1fr 1fr;
}

.gallery-by-3 {
  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery-by-4 {
  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.logo {
  img {
    background: $white;
    border: 1px solid $gray;
    border-radius: 50%;
    display: block;
    height: 50px;
    max-height: 50px;
    margin-right: 8px;
    width: 50px;
  }
}

.logos,
.logos,
[class^="gallery-"] .logos {
  padding: 50px;

  img {
    background: transparent;
    max-width: 90%;

    @include mobile {
      margin: 1em auto;
      max-width: 300px;
    }
  }

  @include mobile {
    padding: 10px;
  }
}

.logos {
  margin: 0 auto;
  max-width: 1280px;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;

  figure {
    text-align: left;
  }

  .book.columns {
    width: 25em;
    margin: 0;
    h3{
      color: $secondary-dark;
    }
    .book-buttons {
      margin-top: auto;
      margin-bottom: 2em;

      .button {
        margin: 0.2em 1em 0.2em 0;
        width:100%;
      }
    }
  }
}

.navbar {
  background-color: $primary;
  color: $gray;

  .navbar-burger {
    color: $gray;
    &:hover {
      background-color: $gray;
      color: $primary;
    }
  }

  a.navbar-item {
    background-color: $primary;
    padding: 0.9rem 1rem 0.75rem;
    text-decoration: none;

    color: $gray;

    &.is-active {
      // border-bottom: 4px solid $white;
      color: $white;
      background: url("/assets/img/fleur.svg") center 80% no-repeat;
      background-size: 30px;
    }

    @include touch {
      &.is-active {
        background-color: $secondary;
        border-bottom: none;
        background-image: none;
      }
    }

    &:hover {
      background-color: $white;
      color: $primary;
    }

    &:focus {
      border: 1px solid $secondary;
    }
  }

  .navbar-menu {
    background-color: $primary;

    .is-active {
      color: $primary;
    }
  }
}

// /posts

.post-meta {
  font-size: 0.875em;
  font-style: italic;

  .tag {
    margin-right: 0.5em;
  }
}

div.content {
  img {
    border: 3px solid $gray;
  }
}

// Social media

ul.social_media_block {
  display: grid;
  list-style: none;
  margin: 0 auto;
  max-width: 960px;

  grid-template-columns: 100%;
  grid-gap: 15px;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;

    li {
      margin-top: 0;
    }
  }

  figure {
    margin-left: 0;
    margin-bottom: 1em !important; // Need to test before removing !important
  }

  img {
    border: none;
  }
}

.tweet {
  background: $white;
  border: 1px solid $gray-dark;
  border-radius: 0.5em;
  font-size: 0.875em;
  line-height: 1.5;
  padding: 1em;

  .icon {
    svg {
      fill: $secondary;
    }
  }
}

.twitter_user {
  display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 0.5em;
  line-height: 1.2;
  margin-bottom: 0.75em;
}

// text-viewer (GN + GF)
.text-viewer {
  padding-bottom: 6rem;

  .panel-controls {
    // GN: temporarily hidden
    display: none;
    border-bottom: 1px solid $secondary-dark;
    background-color: rgba(lighten($primary, 10%), 0.1);
    line-height: 2.4;
  }

  .panel-heading {
    .select- {
      margin-bottom: 0.7em;
    }
  }

  &.columns {
    column-gap: 1em;
    margin: 0;
  }

  .panel {
    &.column {
      border: 1px solid $secondary-dark;
      padding: 0;
      background: white;
    }

    // TODO: temp fix. check behaviour on small screens
    margin-bottom: 0 !important;
  }

  // .select {
  //   margin: 0 0.5rem;
  // }
}

// Box citation

.box-citation {
  border: 1px solid rgba(lighten($primary, 20%), 0.2);

  p {
    font-weight: 700;
  }

  // GN: partners requested not to have italics in the citation
  cite {
    font-style: normal;
  }

  // copy icon
  // TODO: might want to move this in the HTML once there is a copy button
  // background: url(/assets/img/icons/font-awesome/copy.svg) top right no-repeat;
  // background-origin: content-box;
  // background-size: 20px;

  button {
    float: right;
  }
}

ul.undecorated-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// pagination

ul.pagination-list {
  margin-left: 0;
}

.pagination-link {
  background-color: #fbfbfb;
  text-decoration: none;
  &.is-current {
    background-color: $secondary;
    border-color: $secondary;
  }
}

.pagination-state {
  margin-left: 1em;
  margin-right: 1em;
}

// Search page

.control .input {
  border-color: $secondary;
}

#search {
  .type-icon {
    width: 0.8em;
    margin-right: 0.4em;
  }

  .panel.is-info {
    .panel-heading {
      color: #fff;
      background-color: $secondary;
      margin-bottom: 0.5em;
    }

    .panel-block {
      margin-bottom: 1em;
    }
  }

  .search-results {
    &.updating {
      opacity: 0.2;
    }

    &.updated {
      animation: fadeIn 0.5s;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0.2;
      }
      100% {
        opacity: 1;
      }
    }

    .result-head {
      font-weight: bold;
      cursor: pointer;
    }
    .result-books {
      margin-left: 3em;
    }
    .result-description {
      margin-left: 2em;
    }
  }

  .pagination .buttons {
    margin-left: auto;
    order: 2;
  }
}

.dev-info {
  font-style: italic;
  color: gray;
  font-size: 0.8em;
}

// book page

.book-preview {
  .book-preview-header {
    gap: 2rem;

    .book-preview-thumb {
      .book-thumb {
        width: 15rem;
        height: auto;
      }
    }

    .book-preview-metadata {
      gap: 1em;

      a.button {

        &.btn-tei {
          .icon {
            margin-right: 1em;
          }
        }
      }

      .book-preview-fields {
        // gap: 2rem;
        // padding-top: 1em;
        // padding-bottom: 1em;
        margin-top: auto;

        border-top: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
        padding-top: 1em;
        padding-bottom: 1em;

        & > div:not(:last-child) {
          border-right: 2px solid #ddd;
          @include mobile {
            border-right: none;
          }
        }
        & > div {
          padding: 1em;
          text-align: center;

          @include mobile {
            text-align: left;
          }

          // display: flex;
          // flex-direction: column;
          // align-items: center;
        }
        .field-name {
          // text-transform: uppercase;
          font-variant: small-caps;
          color: grey;
        }
        .field-value {
          // text-transform: uppercase;
          font-weight: bold;
        }
        .field-location {
          font-style: italic;
        }
      }
    }
  }
}

// fedback

.btn-feedback {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  z-index: 100;
  box-shadow: 0.2em 0.2em 0.7em #999999;
  opacity: 1;
  text-decoration: none;
  border: none;
  @include mobile {
    height: 3em;
    &.button.is-rounded {
      padding-right: 0.5em;
    }
  }
  @include mobile {
    height: 3em;
  }
  @include tablet {
    height: 3em;
  }
  background-color: #993800;
  color: #fff;
  .icon {
    color: #fff;
  }
  &:hover,
  &:focus {
    background-color: darken(#993800, 5%);
    color: white;
  }
}

.button.is-rounded {
  border-radius: 40px 40px 0 40px;
}

//

.button {
  text-decoration: none;
  border:0;
  .icon {
    &.is-small {
      height: 0.75rem;
      width: 0.75rem;
    }
  }

  &.is-danger {
    svg {
      fill: $white;
    }

    &:hover {
      background: $secondary;
    }
  }
}


// Buttons
.button.is-primary{
  background: $primary;
  color:$white;
  &:hover{
    background: #6C4826;
  }
}

.button.is-secondary{
  background: $white;
  border: 2px solid $primary-light;
  color:$primary-dark;

  &:hover{
    border: 1px solid $primary-light;
    color:$primary-light;
  }
}


a.button-hp {
  display: block;
  margin-bottom: 1em;
  text-decoration: none;

  &:hover {
    background-color: transparent;

    .read-more-hp {
      background-color: $secondary;
    }

    svg {
      fill: $secondary;
    }
  }

  svg {
    display: block;
    fill: $primary;
    margin: 0.25em auto 0;
    width: 12px;
  }
}

