@charset "UTF-8";

//Import Fonts
@import "fonts.scss";

//Import Colours
@import "color-theme";

/* 2. Mixins  */

@mixin calc($prop, $val) {
  @each $pre in -webkit-, -moz-, -o- {
    #{$prop}: $pre + calc(#{$val});
  }
  #{$prop}: calc(#{$val});
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -o-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//* 2. MAIN *//
section {
  padding: 0 !important;
  h1.title {
    margin-bottom: 0.5rem !important;
    font-size: 1.25em;
    border-bottom: none;
  }
  #text-viewer {
    //overflow: hidden;
    input#drawer-switch {
      display: none;
    }

    /* MAIN PAGE */
    .panel-wrapper {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      @include transition(all 300ms ease-in);
      display: flex;
      justify-content: center;
      > .panel {
        border: 1px solid $gray-dark;
        max-width: 960px;
        height: calc(100vh - 130px);
        overflow: scroll;
        flex-direction: column;
        background: white;
        // bottom: calc(50vh + 3.8em);
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;
        overflow: hidden;
        nav.panel-nav {
          width: 100%;
          padding: 0;
          color: $primary-dark;
          position: sticky;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid $gray-dark;
          flex-wrap: wrap;
          &.bottom {
            bottom: 0;
            height: 60px;
            border-top: 1px solid $gray-dark;
            border-bottom: none;
            .pagination {
              display: inline;
            }
            label {
              position: absolute;
              top: 0px;
              z-index: 9;
              font-size: 10px;
              padding-left: 18px;
              text-transform: uppercase;
              color: $primary-dark;
            }
            .select-dropdown {
              padding: 7px 8px 5px 8px;
              i {
                top: 24px;
              }
              &:hover {
                i {
                  top: 31px;
                }
              }
            }
          } //.bottom
          div {
            text-align: center;
            margin: 0;
            cursor: pointer;

            &.icons {
              display: flex;
              margin-left: auto;
            }
            &.icon {
              min-width: 60px;
              height: 50px;
              border-left: 1px solid $gray-dark;
              box-shadow: 0 1px $gray-dark, 0px -1px $gray-dark;
              margin-left: auto;
              line-height: 1;
              display: inline-block;
              background: white;
              h2 {
                display: block;
                color: $primary;
                font-size: 10px;
                font-weight: normal;
                text-transform: uppercase;
                font-family: sans-serif;
              }
              i {
                font-size: 13px;
                color: $primary;
                @include transition(all 300ms ease-in);
                padding: 12px 0 8px 0;
              }
              &:hover {
                background: lighten($gray, 5%);
                i {
                  @include transform(scale(1.6));
                }
                h2 {
                  font-weight: bold;
                }
              }
            } //.icon
            &.clone {
              display: flex;
              box-shadow: 0 1px $gray-dark, 0px -1px $gray-dark;
              z-index: 1;
            }
            button.pagination {
              text-decoration: none;
              padding: 15px 18px 15px 18px;
              text-transform: uppercase;
              font-size: 12px;
              position: relative;
              border: 1px solid $gray-dark;
              cursor: pointer;
              border-radius: 50%;
              color: $primary-dark;
              margin: 8px;
              background: white;
              i {
                @include transition(all 300ms ease-in);
              }
              &:hover {
                background: lighten($gray, 5%);
                i {
                  @include transform(scale(1.5));
                }
              }
            } //a.pagination
            .select-dropdown {
              display: inline-block;
              opacity: 1;
              padding: 0 8px;
              margin: 0;
              position: relative;
              select {
                font-size: 20px;
                border: none;
                color: $primary-dark;
                background-color: transparent;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                //max-width: 100%;
                padding: 0 1.5em 0 0.5em;
                height: 50px;
                cursor: pointer;
                display: inline-block;
              }
              i {
                width: 30px;
                height: 60px;
                position: absolute;
                display: inline-block;
                top: 18px;
                right: 4px;
                pointer-events: none;
                @include transition(all 300ms ease-in);
              }
              &:hover {
                background: lighten($gray, 6%);
                select {
                  color: $secondary;
                } //select
                i {
                  @include transform(scale(1.4));
                  top: 23px;
                } //span
              } //&:hover
            } //.select-dropdown
          } //div
        } //nav
        .text-viewer {
          height: calc(100vh - 7em);
          overflow: scroll;
          min-height: 30em;
        } //.text-viewer
      } //.panel
    } //.panel-wrapper
    /* 2.1 PUSH MENU & DRAWER */
    aside#drawer {
      position: fixed;
      top: 87px;
      right: -250%;
      width: 500px;
      height: 100%;
      padding: 0 0 0 0.5em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      @include transition(all 300ms ease-in);
      z-index: 1;
      opacity: 0;
      //overflow:scroll;
      h1 {
        background: white;
        padding: 8px 60px 8px 16px;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
        color: $primary;
        span {
          font-size: 12px;
          line-height: 1;
          display: block;
          text-transform: uppercase;
          color: black;
          font-family: sans-serif;
        }
      } //h1
    } //aside#drawer
    #drawer-switch {
      &:checked ~ #drawer {
        right: 0;
        opacity: 1;
      } //&:checked ~ #drawer

      &:checked ~ .panel-wrapper {
        margin-right: 550px;
        #drawer-toggle {
          /* MENU TOGGLE ICON - close */
          /*&:before {
          content: "✕";
        }*/ //&:before
          &:after {
            content: "✕ ";
            color: white;
            font-size: 22px;
            line-height: 2.2;
            text-align: center;
            width: 50px;
            height: 50px;
            position: fixed;
            right: 491px;
            top: 87px;
            cursor: pointer;
            border: none;
            background: $primary;
            @include transition(all 300ms ease-in);
          } //&:after
          &:hover {
            &:after {
              background: $primary-dark;
              font-size: 28px;
              line-height: 1.8;
            }
          }
        } //#drawer-toggle
      } //&:checked ~ .panel-wrapper
    } //#drawer-switch

    /* MENU TOGGLE ICON */
    #drawer-toggle {
      display: inline-block;
      position: relative;
      text-align: center;
      cursor: pointer;
      @include transition(all 300ms ease-in);
      width: 60px;
      &:focus {
        outline: none;
      } //&:focus
      &:after {
        content: "✕ ";
        color: white;
        font-size: 22px;
        line-height: 2.2;
        text-align: center;
        width: 50px;
        height: 50px;
        position: fixed;
        right: -100%;
        top: 87px;
        cursor: pointer;
        border: none;
        background: $primary;
        @include transition(all 300ms ease-in);
      }
    } //#drawer-toggle

    //* END 1. PUSH MENU & DRAWER */

    //* DRAWER TABS **//
    .tabs {
      position: relative;
      min-height: 90vh;
      //clear: both;
      display: block;
      margin: 0;
      width: 500px;
      white-space: initial;
      > label {
        background: $primary;
        text-align: center;
        color: white;
        display: block;
        width: 71px;
        font-size: 12px;
        border-left: 3px solid $primary;
      }
      .tab {
        width: 60px;
        * {
          box-sizing: content-box;
        }
        label {
          background: lighten($gray, 5%);
          padding: 4px;
          border-bottom: 1px solid $gray;
          border-left: 2px solid $primary;
          margin-left: -1px;
          font-size: 10px;
          position: relative;
          left: 1px;
          width: 61px;
          display: block;
          text-align: center;
          cursor: pointer;
          height: 60px;
          @include transition(all 300ms ease-in);
          i {
            font-size: 16px;
            padding-top: 8px;
            color: $primary;
            @include transition(all 300ms ease-in);
          } //i
          h2 {
            line-height: 1;
            position: absolute;
            bottom: 8px;
            width: 61px;
            text-align: center;
            color: $primary;
          }
          &:hover {
            background: lighten($gray, 10%);
            border-left: 5px solid $primary;
            i {
              @include transform(scale(1.5));
            }
          }
        } //label
        [type="radio"] {
          display: none;
          &:checked ~ label {
            background: white;
            border-left: 5px solid $primary;
            i,
            h2 {
              color: $primary-dark;
              font-weight: bold;
            } //i,h2
            h2 {
              font-size: 11px;
            }
            &:hover {
              background: lighten($gray, 10%);
            }
          } //&:checked ~ label
          &:checked ~ label ~ .content {
            z-index: 1;
          } //&:checked ~ label ~ .content
        } //[type=radio]
        .content {
          position: absolute;
          top: 0;
          left: 71px;
          background: white;
          right: 0;
          bottom: 0;
          padding: 20px;
          border: 1px solid $gray;
          overflow: scroll;
          h2 {
            font-size: 22px;
            border-bottom: 3px double $secondary-dark;
            padding-bottom: 4px;
            color: $secondary-dark;
            &:before {
              display: none;
            }
          } //h2
          ul {
            display: block;
          }

          a {
            display: inline;
            border: none;
            padding: 0;
          }
          a.button.is-secondary {
            padding: 0 16px;
            display: inline-flex;
            border: 1px solid $secondary;
          }
          .citation {
            border: 3px double $primary;
            padding: 12px 8px;
            button {
              display: flex;
              margin: 8px 0 0 auto;
            }
          }
            ul { 
              padding-left: 2em;
              margin: 1em 0;
              list-style-type: none;
              li {
                line-height: 1.3;
                margin-bottom: 0.7em;
                font-weight: bold;
                font-weight: 500;
                font-size: 18px;
                margin-left: 20px;
                span {
                  font-style: italic;
                  font-size: 0.9em;
                  font-weight: 300;
                }
                &:before{
                  position: absolute;
                  left: 20px;
                  content: "a";
                  font-size: 20px;
                }
                &.monogram{ //transcription
                  &:before {
                    content: "ℳ";
                    line-height: 1;
                  } //before
                }
                &.additions{//transcription
                  &:before {
                    line-height: 0.9;
                    font-style: italic;
                  } //before
                }
                &.superscript { //transcription
                  &:before {
                    content: "ch";
                    vertical-align: baseline;
                    margin-top: -10px;
                  } //before
                } //   
                &.dashed{ //transcription
                  &:before {
                    line-height: 0.7;
                    border: 1px dashed gray;
                    padding: 1px 5px 3px 5px;
                  }
                }        
                &.bracket{ //transcription
                  &:before {
                    content: "}";
                    font-size:30px;
                  } //before
                }
                &.strikethrough { //transcription
                  &:before {
                    content: "the";
                    position: absolute;
                    text-decoration: line-through;
                  } //before
                } //
                &.heart { //transcription
                  &:before {
                    content: "♥";
                    line-height: 0.7;
                  } //before
                } 
    
                &.blank {
                  //Blank page or lines
                  &:before {
                    content: "[cut]";
                    color: gray;
                  } //before
                } 

                /**&.cut {
                  //Physical damage
                  &:before {
                    content: "[cut]";
                    position: absolute;
                    left: 20px;
                    font-size: 1em;
                    line-height: 0.7;
                    font-weight: normal;
                    color: gray;
                  } //before
                } //&:nth-child(3)
    

    
                &:nth-child(22) {
                  // Author's page numbers
                  &:before {
                    content: "1";
                    position: absolute;
                    left: 20px;
                    font-weight: normal;
                  } //before
                } //&:nth-child(5)**/  
              } //li
            } //ul


          .textblock {
            ul {
              padding-left: 2em;
              margin: 1em 0;
              list-style-type: none;
              display: block;
              li {
                line-height: 1.3;
                margin-bottom: 0.7em;
                font-weight: bold;
                span {
                  font-style: italic;
                  font-weight: normal;
                  font-size: 0.9em;
                }



                &:nth-child(1) {
                  //Page title heading
                  &:before {
                    content: "a";
                    position: absolute;
                    left: 20px;
                    font-size: 1.7em;
                    line-height: 0.7;
                    font-weight: bold;
                  } //before
                } //&:nth-child(1)
                &:nth-child(2) {
                  //Other headers
                  &:before {
                    content: "a";
                    position: absolute;
                    left: 20px;
                    font-size: 1.3em;
                    line-height: 0.7;
                    font-weight: bold;
                  } //before
                } //&:nth-child(2)

                &:nth-child(3) {
                  //Running headers
                  &:before {
                    content: "a";
                    position: absolute;
                    left: 20px;
                    font-size: 1.3em;
                    line-height: 0.7;
                    font-weight: normal;
                  } //before
                } //&:nth-child(3)

                &:nth-child(4) {
                  //Blank page or lines
                  &:before {
                    content: "[ ]";
                    position: absolute;
                    left: 20px;
                    line-height: 0.7;
                    font-weight: normal;
                    color: gray;
                  } //before
                } //&:nth-child(4)

                &:nth-child(5) {
                  // Author's page numbers
                  &:before {
                    content: "37";
                    position: absolute;
                    left: 20px;
                    font-weight: normal;
                  } //before
                } //&:nth-child(5)

                &:nth-child(6) {
                  // Curly bracket
                  &:before {
                    content: "}";
                    position: absolute;
                    left: 20px;
                    font-weight: bold;
                    font-size: 1.5em;
                  } //before
                } //&:nth-child(6)

                &:nth-child(7) {
                  // Marginal comment
                  &:before {
                    content: "";
                    position: absolute;
                    left: 25px;
                    margin-top: 21px;
                    margin-left: 2px;
                    width: 7px;
                    height: 7px;
                    border-radius: 0 0 1px 1px;
                    z-index: -1;
                    border-top: solid 1px black;
                    border-left: solid 1px black;
                    -webkit-transform: rotate(48deg);
                    transform: rotate(45deg);
                  } //before
                  &:after {
                    content: "";
                    position: absolute;
                    margin-top: -15px;
                    left: 25px;
                    width: 10px;
                    height: 20px;
                    border-radius: 0 0 1px 1px;
                    border-top: solid 1px black;
                    border-left: solid 1px black;
                    border-right: solid 1px black;
                  }
                } //&:nth-child(7)
              } //li
            } //ul
          } //.textblock
        } //.content
      } //tab

      h1 {
        font-size: 1.5em;
      }



      .features {
        ul {
          padding-left: 2em;
          margin: 1em 0;
          list-style-type: none;
          li {
            line-height: 1.3;
            margin-bottom: 0.7em;
            font-weight: bold;
            span {
              font-style: italic;
              font-weight: normal;
              font-size: 0.9em;
            }
            &:nth-child(1) {
              // Editorial Notes
              &:before {
                content: "ℳ";
                position: absolute;
                left: 20px;
                font-size: 1.3em;
                line-height: 1;
              } //before
            } //&:nth-child(1)
            &:nth-child(2) {
              //Entity Person
              &:before {
                content: "";
                border-bottom: 1px dashed gray;
                width: 0.7em;
                height: 0.7em;
                position: absolute;
                left: 30px;
              } //before
              &:after {
                content: "";
                width: 0.7em;
                height: 0.7em;
                position: absolute;
                left: 30px;
                background:// ** Eyes
                  radial-gradient(
                  //left eye
                  90% 80% ellipse at 45% 25%,
                  //size%(width, height) ellipse at position%(left,top)
                  gray 30%,
                  //color size
                  transparent 0
                ); //color size
              } //after
            } //&:nth-child(2)
            &:nth-child(3) {
              //Entity Place
              &:before {
                content: "";
                border-bottom: 1px dashed gray;
                width: 0.7em;
                height: 0.7em;
                position: absolute;
                left: 30px;
              } //before
              &:after {
                content: "";
                width: 0.7em;
                height: 0.9em;
                position: absolute;
                left: 30px;
                background:// ** Triangle
                  conic-gradient(
                    gray 0 25deg,
                    transparent 25deg 335deg,
                    gray 335deg 360deg
                  )
                  50% 100%/100% 100% no-repeat; //position%(left,top) size%(width, height)
              } //after
            } //&:nth-child(3)
            &:nth-child(4) {
              //Entity Event
              &:before {
                content: "";
                border-bottom: 1px dashed gray;
                width: 0.9em;
                height: 0.7em;
                position: absolute;
                left: 10px;
              } //before
              &:after {
                content: "";
                width: 0.35em;
                height: 0.35em;
                position: absolute;
                left: 10px;
                background: gray;
              } //after
            } //&:nth-child(4)
            &:nth-child(5) {
              //Biblical reference
              &:before {
                content: "";
                border-bottom: 1px dashed gray;
                width: 0.9em;
                height: 0.7em;
                position: absolute;
                left: 10px;
              } //before
              &:after {
                content: "✝";
                width: 0.7em;
                height: 0.7em;
                position: absolute;
                left: 10px;
                margin-top: -7px;
                color: gray;
                font-size: 13px;
              } //after
            } //&:nth-child(5)
          } //li
        } //ul
      } //.features

      .editorial {
        ul {
          padding-left: 2em;
          margin: 1em 0;
          list-style-type: none;
          li {
            line-height: 1.3;
            margin-bottom: 0.7em;
            font-weight: bold;
            span {
              font-style: italic;
              font-weight: normal;
              font-size: 0.9em;
            }
            &:nth-child(1) {
              // Editorial Notes
              &:before {
                content: "❏";
                position: absolute;
                left: 0.3em;
                font-size: 1em;
                line-height: 1;
                color: gray;
              } //before
            } //&:nth-child(1)
            &:nth-child(2) {
              //Glossary
              &:before {
                content: "";
                border-bottom: 3px double gray;
                width: 0.7em;
                height: 0.7em;
                position: absolute;
                left: 0.3em;
              } //before
            } //&:nth-child(2)

            &:nth-child(3) {
              // Superfluous
              &:before {
                content: "";
                border: 1px dashed gray;
                width: 1em;
                height: 0.7em;
                position: absolute;
                left: 0.2em;
              } //before
            } //&:nth-child(3)
          } //li
        } //ul
      } //.editorial

      .images {
        ul {
          padding-left: 2em;
          margin: 1em 0;
          list-style-type: none;
          li {
            line-height: 1.3;
            margin-bottom: 0.7em;
            font-weight: bold;
            span {
              font-style: italic;
              font-weight: normal;
              font-size: 0.9em;
            }

            &:nth-child(1) {
              //original page image
              &:before {
                content: "";
                position: absolute;
                left: 0.1em;
                margin-top: 0.15em;
                background-image: url("https://static.thenounproject.com/png/1192618-200.png");
                background-size: 0.9em 0.9em;
                width: 0.9em;
                height: 0.9em;
              } //before
            } //&:nth-child(5)
          } //li
        } //ul
      } //.editorial
    } //.tabs
  }
} //section

//TOOLTIP//

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@media screen and (max-width: 1200px) {
  section .panel-wrapper > .panel {
    nav.panel-nav div {
      .icon {
        span {
        }
      }
    } //nav.panel-nav div
  } //section .panel-wrapper > .panel
}

// GN: temporary stylesheet to experiment with rendering of sample
// TEI elements the text viewer.
//
// Some of this will need feedback from partners
// & review from designers before being added back
// into main.scss.

@import "color-theme";

// -------------------------------------------------
// SETTINGS

// if true tei <add> (.tei-add or place="above") is shown as interlinear text with arrow where author inserted it
// if false it will be shown as superscript
$render-add-with-arrow: false;
$edition-line-height: 2.5em;
$render-sic: false;

// -------------------------------------------------
// MIXINS

@mixin popover {
  font-family: "Noto", sans-serif;
  box-shadow: #888 5px 5px 15px 0px;
  z-index: 10;
  font-size: 1rem;
  text-align: left;
  // TODO: CHANGE Noto to another, more reliable font.
  // BUG in Noto Sans, font-weight: 400/normal will render in italics!
  // font-weight: normal;
  font-weight: 450;
}

// -------------------------------------------------

@media screen and (min-width: 800px) {
  .modal-card {
    width: 800px;
  }
}

.modal-card-title {
  flex-shrink: unset;
}

.modal-card-foot {
  padding-top: 10px;
  padding-bottom: 10px;
}

// -------------------------------------------------

#text-viewer .panel-chunk {
  overflow: scroll;
  height: calc(90vh - 120px);
  margin: 40px 0 0 0;
  display: flex;
}

#text-viewer {
  .tei-p,
  .tei-type-stanza {
    margin-bottom: $edition-line-height;
    display: block;
  }

  span[data-tei-rend~="italic"] {
    font-style: italic;
  }

  // .panel-heading {
  //   display: inline-block;
  // }

  .btn-icons {
    margin-bottom: 0;

    .icon {
      margin: 0;
      width: 1rem;
      height: 1rem;
    }

    .btn-label {
      display: none;
    }
  }

  // Following rules in this block to make the close+clone button float top right.
  // Apart from that issue all the rest would work well with Bulma's flex.
  .panel-heading {
    display: block; // cancel flex mode

    .control,
    .field {
      display: inline-block;
    }

    .pull-right {
      // margin-left: auto; // for flex mode
      float: right;
    }
  }
}

// GN: placeholders for customasing the rendering of the editions
// and the views: view-semidi OR view-modern
#text-viewer .panel .content {
  margin-left: 60px;
  // at least two clear lines gap between bottom of text and page number
  padding-top: $edition-line-height;
  padding-bottom: calc($edition-line-height * 2);
  position: relative;
  padding: 0 0 40px 0;
  opacity: 30%;
  min-height: calc(100% - 80px);
  position: relative;
  display: flex;
  overflow: scroll;
  width: 100%;
  &.loaded {
    opacity: 100%;
  }

  // Spaces, gaps & damages

  // .tei-space[data-tei-unit="page"]:before {
  //   content: "[Blank page]";
  // }

  &.view-modern,
  &.view-semidip {
    // always retain line breaks for missing lines
    br.missing-line {
      display: inline;
    }
  }

  &.view-semidip {
    justify-content: center;
  }
  &.view-modern {
    padding-right: 60px;
  }

  span[data-tei-unit="char"] .missing-content-message {
    display: none;
  }

  .missing-content-message,
  .missing-chars {
    color: #777;
    font-style: italic;
    &:before {
      content: "[";
    }
    &:after {
      content: "]";
    }
  }

  span[data-tei-unit="line"] .missing-content-message {
    margin-left: 0.3em;
  }

  // -----

  a:focus {
    // without this a focused link in the popover gets a blank line before & after
    border: none;
  }

  // -----

  &.view-modern {
    br {
      display: none;
    }
    br[data-tei-break="no"] + .tei-pc.not-a-word,
    .divide-word {
      display: none;
    }

    .orig {
      display: none;
    }

    .tei-abbr {
      display: none;
    }

    .tei-sic {
      display: none;
    }

    .tei-surplus {
      display: none;
    }

    .tei-measure.tei-type-currency {
      &:before {
        content: "£";
      }

      .tei-am {
        display: none;
      }
    }
  }

  .tei-surplus:not(.not-a-word) {
    // TODO: find better style
    background-color: #fdd;
    padding: 0.2em;
  }

  &.view-semidip {
    span[data-tei-rend~="superscript"] {
      vertical-align: super;
    }

    .norm {
      display: none;
    }

    .tei-expan {
      display: none;
    }

    .tei-corr {
      display: none;
    }

    @if ($render-sic) {
      .tei-sic {
        text-decoration: underline wavy orange;
      }
    }

    .tei-supplied[data-tei-reason="mod"] {
      display: none;
    }

    .tei-supplied[data-tei-reason="unclear"],
    .tei-supplied[data-tei-reason="omitted"] {
      &:before {
        content: "[";
      }
      &:after {
        content: "]";
      }
    }
  }

  // p {
  //   margin-left: 3em;
  // }

  &.view-semidip {
    .tei-ex {
      // 1.5.5.February
      display: none;
    }
  }

  h1,
  h2,
  h3 {
    color: inherit;
  }

  span[data-tei-place="centre"] {
    text-align: center;
    display: inline-block;
  }

  .tei-l {
    // so each verse is on its own line
    display: block;
  }

  .tei-seg[data-tei-rend*="centre"] {
    // 1.4.last
    text-align: center;
    display: block;
  }

  span {
    // to allow interlinear span within it
    // position: relative;
    line-height: $edition-line-height;
  }

  span[data-tei-rend~="italic"] {
    font-style: italic;
  }

  &.view-semidip {
    // http://localhost:8080/books/viewer/?&p0.lo=p.5
    @if ($render-add-with-arrow) {
      // for tei add: appear as superlinear text above down arrow pointing to insertion point
      *[data-tei-place="above"] {
        // 1.4.-1.hand
        position: absolute;
        margin-top: -1.2em;
        // padding-right: 4em;
        display: inline-block;
        margin-left: -0.3em;

        &:before {
          content: "\032C";
          position: absolute;
          // top: 0.2em;
          margin-left: 0.3em;
          font-size: 150%;
        }
      }
    } @else {
      *[data-tei-place="above"] {
        vertical-align: super;
      }
    }

    *[data-tei-place~="margin"]:not(.tei-type-head):not(.tei-type-header):not(.info-box) {
      display: inline-block;
      position: absolute;
      left: -5em;
      width: 5em;
      text-indent: initial;
    }
  }

  &.view-modern {
    .tei-fw[data-tei-place~="margin"]:not(.tei-type-head):not(.tei-type-header) {
      display: none;
    }
  }

  &.view-modern {
    div.tei-type-merged-modern-paras {
      margin-bottom: $edition-line-height;
      p {
        display: inline;
      }
    }
  }

  .tei-fw.tei-type-pageNum {
    & + .tei-lb {
      display: none;
    }
  }

  .tei-type-pageNum {
    text-align: left !important;
    font-style: italic;
  }

  // selector might be too broad,
  // <fw> is used for various things
  .tei-fw {
    display: block;

    &[data-tei-place="right"] {
      text-align: right;
    }
  }

  *[data-tei-rend="strikethrough"] {
    text-decoration: line-through;
  }

  *[data-tei-rend="doublestrikethrough"] {
    text-decoration: line-through;
    text-decoration-style: double;
  }

  &.view-modern {
    .tei-quote.tei-type-direct,
    .tei-quote.tei-type-partial.nomore {
      &:before {
        content: "‘";
      }
      &:after {
        content: "’";
      }
    }
  }

  &.view-modern {
    .tei-del {
      display: none;
    }
  }

  .hidden {
    display: none;
  }

  // LIST -----------------

  .tei-list {
    display: block;
    max-width: 80%;

    .tei-item {
      // doesn't work in FF
      &:not(:has(.tei-list)) {
        text-indent: -1em;
        padding-left: 1em;
      }

      display: block;
      // enough space for the label
      padding-right: 3em;
      .tei-item {
        padding-right: 0;
      }
      position: relative;

      .tei-label {
        right: 0;
        position: absolute;
        top: 0;
      }
    }
  }

  &.view-semidip {
    // .tei-list[data-tei-rend="braced(})"] + .tei-label {
    span[data-tei-rend="braced(})"] + .tei-label,
    .has-braced-seg > .tei-label {
      // 2.5em is the line height
      // we align the label with the middle item in the list
      top: calc(50% - ($edition-line-height / 2));
    }
    // .tei-seg[data-tei-rend="braced(})"] {
    .tei-seg[data-tei-rend="braced(})"],
    .tei-list[data-tei-rend="braced(})"] {
      display: inline-block;
      background: url(../img/icons/closing-curly-brace.svg) no-repeat right
        center;
      background-size: 1.5em 100%;
      padding-right: 1.5em;
      width: 95%;
    }
  }

  // ----------------------

  .highlighted {
    background: yellow;
    font-weight: bold;
  }

  ins {
    text-decoration: none;
  }

  h1 {
    font-size: 2em;
    // TODO: center in panel, not just text?
    text-align: center;
    word-break: break-word;
  }
  h2,
  .tei-fw.tei-type-head {
    font-size: 1.6em;
    font-weight: 600;
    display: block;
    text-align: center;
    margin-top: 0;

    &:before {
      // removes the decoration applied to the h2 on the rest of the site
      display: none;
    }
  }
  h3,
  .tei-fw.tei-type-header {
    font-size: 1.4em;
    display: block;
    text-align: center;
  }

  .tei-docAuthor {
    display: block;
    text-align: center;
    font-size: 2rem;
  }
  .tei-type-monogram {
    font-family: cursive;
  }

  a {
    color: inherit;
    text-decoration: underline dotted green;
    text-decoration-thickness: 2px;
  }

  .tei-figure-wrapper {
    font-size: 1.5rem;
  }

  figure {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 2rem;
    margin: 2rem;
    // display: block;

    background: $white;

    max-height: 90vh;
    max-width: 90vw;
    height: 90vh;

    @include popover;

    img {
      display: inline-block;
      max-width: 90%;
      max-height: 80%;
      height: auto;
    }

    figcaption {
      font-size: 1.5rem;
    }
  }

  .tei-anchor {
    // &:before {
    //   content: "\01F5C8";
    //   font-size: 1.5em;
    //   padding: 0.2em;
    // }

    .note-symbol {
      padding-left: 0.2em;
      color: $primary;
      // font-weight: bold;
    }

    &.tei-type-event {
      // TODO: unhide once even entities are made available
      display: none;
    }
  }

  .has-info-box {
    position: relative;
    border-bottom: 3px dotted #457b9d;

    &.tei-term {
      border-bottom-color: #e07a5f
    }

    &.tei-g {
      border-bottom: 2px dotted lightgray;
    }

    &.tei-anchor {
      border-bottom: none;
    }

    &.tei-quote {
      padding-bottom: 4px;
      border-bottom-color: #6a994e;
    }

    &:hover {
      border-bottom-style: solid;
      > .info-box {
        display: inline-block;
      }
      &.child-hovered {
        // special case for nested info boxes.
        // we don't want the parent one to popover
        // when the user hovers the child one.
        // This class is dynamically set by text-viewer.js.
        > .info-box {
          display: none;
        }
      }
    }
  }

  // quote
  .info-box {
    display: none;

    @include popover;

    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 120%;
    width: max-content;
    max-width: 20em;
    background-color: white;
    font-style: normal;

    // see CU 86bx3j25n, B3.189
    text-indent: initial;

    // to counter cursive set by monogram on R.1
    // font-family: initial;

    span {
      line-height: 1.5em;
    }

    .tei-p {
      margin-bottom: inherit;
    }

    .banner {
      display: block;
      padding: 0.5em;
      background-color: $primary;
      color: white;
    }

    .body {
      display: block;
      padding: 0.5em;
      // to prevent long uris from overflowing the popover
      overflow-wrap: break-word;

      .tei-p {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  nav.panel-nav div.icon {
    max-width: 60px;
  }

  section {
    #text-viewer aside#drawer {
      width: 90vw;
    }
    #text-viewer #drawer-switch:checked ~ .panel-wrapper #drawer-toggle::after {
      right: calc(90vw - 9px);
    }
  } //section
}

// GN: adjustments for the print-friendly viewer
.viewer-print {
  #text-viewer {
    .panel-wrapper {
      .panel-nav {
        input[type="number"] {
          width: 5rem;
        }
        label {
          vertical-align: bottom;
        }
      }
      .panel {
        height: auto;
        .panel-chunk {
          height: auto;
          overflow: visible;
          .content {
            display: block;
          }
        }
      }
    }
  }
  .box-citation {
    margin-bottom: 3em;
  }
}
