// GN: temporary stylesheet to experiment with rendering of sample
// TEI elements the text viewer.
//
// Some of this will need feedback from partners
// & review from designers before being added back
// into main.scss.

@import "color-theme";

// GN: placeholders for customasing the rendering of the editions
// and the views: view-semidi OR view-modern
#text-viewer .panel .content {
  margin-left: 5em;
  position: relative;

  &.view-modern {
    br {
      display: none;
    }
    .orig {
      display: none;
    }

    .tei-abbr {
      display: none;
    }

    .tei-sic {
      display: none;
    }

    .tei-surplus {
      display: none;
    }
  }

  .tei-surplus:not(.not-a-word) {
    // TODO: find better style
    background-color: #fcc;
    padding: 0.2em;
  }

  &.view-semidip {
    .norm {
      display: none;
    }

    .tei-expan {
      display: none;
    }

    .tei-corr {
      display: none;
    }
  }

  .tei-space[data-tei-unit="page"]:before {
    content: "[Blank page]";
  }

  .tei-type-pageNum {
    display: block;
  }

  // p {
  //   margin-left: 3em;
  // }

  &.view-semidip {
    .tei-ex {
      // 1.5.5.February
      display: none;
    }
  }

  h1,
  h2,
  h3 {
    color: inherit;
  }

  span[data-tei-place="centre"] {
    text-align: center;
    display: inline-block;
  }

  .tei-l {
    // so each verse is on its own line
    display: block;
  }

  .tei-seg[data-tei-rend*="centre"] {
    // 1.4.last
    text-align: center;
    display: block;
  }

  span {
    // to allow interlinear span within it
    // position: relative;
    line-height: 2.5em;
  }

  &.view-semidip {
    // TODO: bug in http://localhost:8080/books/viewer/?&p0.lo=p.5 (to)
    *[data-tei-place="above"] {
      // 1.4.-1.hand
      position: absolute;
      margin-top: -1.2em;
      // padding-right: 4em;
      display: inline-block;
      margin-left: -0.3em;

      &:before {
        content: "\032C";
        position: absolute;
        // top: 0.2em;
        margin-left: 0.3em;
        font-size: 150%;
      }
    }

    *[data-tei-place~="margin"] {
      display: inline-block;
      position: absolute;
      left: -5em;
      width: 5em;
    }
  }

  *[data-tei-rend="strikethrough"] {
    text-decoration: line-through;
  }

  &.view-modern {
    .tei-quote.tei-type-direct,
    .tei-quote.tei-type-partial.nomore {
      &:before,
      &:after {
        content: '"';
      }
    }
  }

  &.view-modern {
    .tei-del {
      display: none;
    }
  }

  span[data-tei="space"][data-tei-unit="line"] {
    // 1.5.last.horizontal-line
    // TODO: use hr instead
    display: block;
    margin-top: 1em;
    border-bottom: 1px solid black;
  }

  .tei-figure-wrapper {
    font-size: 1.5rem;
  }

  .hidden {
    display: none;
  }

  h1 {
    font-size: 2em;
    // TODO: center in panel, not just text?
    text-align: center;
  }
  h2,
  .tei-fw.tei-type-head {
    font-size: 1.6em;
    font-weight: 600;
    display: block;
    text-align: center;

    &:before {
      background: none;
      display: hidden;
    }
  }
  h3,
  .tei-fw.tei-type-header {
    font-size: 1.4em;
    display: block;
    text-align: center;
  }

  .tei-docAuthor {
    display: block;
    text-align: center;
    font-size: 2rem;
  }
  .tei-type-monogram {
    font-family: cursive;
  }

  a {
    color: inherit;
    text-decoration: underline dotted green;
    text-decoration-thickness: 2px;
  }

  figure {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border: 3px solid grey;
    padding: 2rem;
    margin: 2rem;
    // display: block;

    background: $white;

    max-height: 90vh;
    max-width: 90vw;
    height: 90vh;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    img {
      display: inline-block;
      max-width: 90%;
      max-height: 80%;
      height: auto;
    }

    figcaption {
      font-size: 1.5rem;
    }
  }
}
