@import "color-theme";

// New Colors
$taupe: lighten(#a59f90, 5%);
$gold: darkgoldenrod;
$transparent: transparent;
$lifeline: $taupe;
$pink: #a45a52;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kalnia+Glaze:wght@100..700&family=Kalnia:wght@100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
// Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin animation($animation...) {
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// Hide visually but not semantically for screen readers
.visually-hidden:not(:focus) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
html {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
*,
*:before,
*:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

// Hide the scroll bar for main content when modal is open
body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

#data {
  margin: 10vw 0 10vw 25%;
  width: 60%;
  font-family: sans-serif;
  table {
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: center;
    vertical-align: bottom;
    margin: 2vw 0 4vw 0;
    border-collapse: collapse;
    &:nth-child(2) {
      thead{
        &:before {
          content: "decades";
          font-size: 1.5vw;
          color: rgba(0, 0, 0, 0.5);
          left: -19.5vw;
          top: 100%;
          position: absolute;
          font-family: "Kalnia Glaze", serif;
          filter: grayscale(1);
          margin-top: -13vw;
        } //&:before
      }//thead
      tbody {
        &:before {
          content: "10";
        } //&:before
        tr{
          &:nth-child(5), &:nth-child(8),  &:nth-child(9) {//Hide years and hover
              .year{
                display:none;
              }
            &:hover{
            border-bottom:0.3vw solid $lifeline;
            }//&:hover
          }//&:nth-child(5), &:nth-child(8),  &:nth-child(9)
        }//tr
      } //tbody
    } // &:nth-child(2)
    &:nth-child(3) {
      tbody {
        &:before {
          content: "20";
        } //&:before
      } //tbody
      tr{
        position: relative;
          &:nth-child(1){//Lower 1st position
              .year{
                bottom:-2.8vw;
              }//.year
          }//&:nth-child(1)
      }//tr
            tr:nth-child(3) td.historicalEventCount:before {// 1641 g event
   box-shadow: //second historical dot icon
        -0.5vw -0.5vw 0 0 $primary; // [left top blur size]           
}//tr:nth-child(3) td.historicalEventCount
      tr:nth-child(9) td.historicalEventCount:before {// 1644 historical event
   box-shadow: //second historical dot icon
        -0.5vw -0.5vw 0 0 $primary; // [left top blur size]           
}//tr:nth-child(3) td.historicalEventCount
    } // &:nth-child(3)
    &:nth-child(4) {
      tbody {
        &:before {
          content: "30";
        } //&:before
        tr{
          &:nth-child(3), &:nth-child(9), &:nth-child(11), &:nth-child(19){//Lower year 1st position
              .year{
                bottom:-2.8vw;
              }//.year
          }//&:nth-child(3), &:nth-child(9), &:nth-child(11), &:nth-child(19)
          &:nth-child(5), &:nth-child(13), &:nth-child(15){//Lower year 2nd position 
              .year{
                bottom:-4.2vw;
              }//.year
          }//&:nth-child(5), &:nth-child(13), &:nth-child(15)
        }//tr
      } //tbody
    } // &:nth-child(4)
    &:nth-child(5) {
      tbody {
        &:before {
          content: "40";
        } //&:before
                tr{
          &:nth-child(5), &:nth-child(11), &:nth-child(13){//Lower year 1st position
              .year{
                bottom:-2.8vw;
              }//.year
          }//&:nth-child(5), &:nth-child(11), &:nth-child(13)
          &:nth-child(1), &:nth-child(15), &:nth-child(17){//Lower year 2nd position 
              .year{
                bottom:-4.2vw;
              }//.year
          }//&:nth-child(1), &:nth-child(15), &:nth-child(17)
        }//tr
      } //tbody
    } // &:nth-child(5)
    &:nth-child(6) {
      tbody {
        &:before {
          content: "50";
        } //&:before
                tr{
          &:nth-child(3), &:nth-child(4),  &:nth-child(5), &:nth-child(6),  &:nth-child(7), &:nth-child(8),  &:nth-child(9), &:nth-child(10),  &:nth-child(11) {//Hide years and hover
              .year{
                display:none;
              }
            &:hover{
            border-bottom:0.3vw solid $lifeline;
            }//&:hover
          }//&:nth-child(x)
        }//tr
      } //tbody
    } // &:nth-child(6)
    &:nth-child(7) {
      tbody {
        padding-top: 2vw;
        &:before {
          content: "60";
        } //&:before
         tr{
          &:nth-child(1), &:nth-child(2), &:nth-child(5), &:nth-child(7), &:nth-child(8),  &:nth-child(9), &:nth-child(14) {//Hide years and hover
              .year{
                display:none;
              }
            &:hover{
            border-bottom:0.3vw solid $lifeline;
            }//&:hover
          }//&:nth-child(1), &:nth-child(2), &:nth-child(5), &:nth-child(7), &:nth-child(8),  &:nth-child(9), &:nth-child(14) 
             &:nth-child(3){//Lower year 1st position
              .year{
                bottom:-2.8vw;
              }//.year
          }//&:nth-child(5), &:nth-child(11), &:nth-child(13)
        }//tr
      } //tbody
    } // &:nth-child(7)
    &:nth-child(8) {
      tbody {
        padding-top: 3vw;
        &:before {
          content: "70";
        } //&:before
                 tr{
          &:nth-child(1), &:nth-child(2), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8),  &:nth-child(9), &:nth-child(12) {//Hide years and hover
              .year{
                display:none;
              }//.year
            &:hover{
            border-bottom:0.3vw solid $lifeline;
            }//&:hover
          }//&:nth-child(x)
             &:nth-child(3), &:nth-child(10){//Lower year 1st position
              .year{
                bottom:-2.8vw;
              }//.year
          }//&:nth-child(3), &:nth-child(10)
        }//tr
      } //tbody
    } // &:nth-child(8)
    &:nth-child(9) {
      tbody {
        &:before {
          content: "80";
        } //&:before
                         tr{
          &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6),  &:nth-child(7) {//Hide years and hover
              .year{
                display:none;
              }//.year
            &:hover{
            border-bottom:0.3vw solid $lifeline;
            }//&:hover
          }//&:nth-child(x)
             &:nth-child(8){//Lower year 1st position
              .year{
                bottom:-2.8vw;
              }//.year
          }//&:nth-child(3), &:nth-child(10)
        }//tr
      } //tbody
      tr:nth-child(8){
        &:before {
          content:"⟵ end of Thornton's life";
          position: absolute;
          font-size: 1.2vw;
          line-height: 0;
          width: 15vw;
          margin-left: 6.5vw;
          margin-top:-0.1vw;
          font-family: "Kalnia", serif;
          font-size:1.1vw;
          }//&:before
      }
    } // &:nth-child(9)
    
    &:after {
      //curve for every even row
      border-radius: 0 100% 100% 0;
      position: absolute;
      content: "";
      height: calc(100% + 5.7vw);
      aspect-ratio: 1/1;
      padding: 0;
      right: -3vw;
      bottom: 0;
      border: 0.3vw solid $lifeline;
      transform: translate(50%, 0);
      border-left: 0;
      z-index: -1;
    }
    &:nth-child(2n + 1):after {
      // curve for every odd row
      right: initial;
      left: -3vw;
      transform: translate(-50%, 0) rotate(180deg);
    }
    &:first-of-type {
      //first table
         tr{
           &:nth-child(6),  &:nth-child(11) {//Hide years and hover
              .year{
                display:none;
              }//.year
            &:hover{
            border-bottom:0.3vw solid $lifeline;
            }//&:hover
          }//&:nth-child(x)
             &:nth-child(7){//Lower year 1st position
              .year{
                bottom:-2.8vw;
              }//.year
          }//&:nth-child(3), &:nth-child(10)
        }//tr
      &:after {
        //hide first curve
        display: none;
      }
      tr:not(:nth-child(1n + 6)) {
        //hide first 6 elements
        opacity: 0;
      }
      tr:nth-child(6) {
        &:before {
        content:"start of Thornton's life ⟶";
        position: absolute;
        font-size: 1.2vw;
        line-height: 0;
        width: 15vw;
        margin-left: -15vw;
        margin-top:-0.1vw;
          font-family: "Kalnia", serif;
          font-size:1.1vw;
        }//&:before
      }
      &:before {
        right: 15%;
        left: inherit;
      }
    }
    &:before {
      //arrow direction
      position: absolute;
      content: "";
      border: 0.1vw solid darken($gray-dark, 5%);
      width: 0.6vw;
      height: 0.6vw;
      bottom: -0.35vw;
      z-index: 1;
      transform: translate(50%, -15%) rotate(45deg);
      border-left: 0.1vw solid $transparent;
      border-bottom: 0.1vw solid $transparent;
      left: -4.5vw;
    }
    &:nth-child(2n):before {
      // arrow direction for every odd row
      right: -3.5vw;
      left: inherit;
      transform: translate(50%, -15%) rotate(-135deg);
    }
    // Ensure that even rows have reversed order visually only
    &:nth-of-type(even) {
      tbody {
        display: flex;
        flex-direction: row-reverse;
      }
    } //&:nth-of-type(even)
    tbody {
      position: relative;
      display: flex;
      &:before {
        //decade numbers
        content: "";
        font-size: 6vw;
        color: rgba(0, 0, 0, 0.2);
        left: -20vw;
        top: 100%;
        position: absolute;
        font-family: "Kalnia Glaze", serif;
        filter: grayscale(1);
        margin-top: -7vw;
      }
      tr {
        width: 10%;
        position: relative;
        //vertical-align: bottom;
        margin: 0 0 0;
        border-bottom: 0.3vw solid $lifeline;
        align-self: flex-end;
        @include transition(all 400ms ease-in);
        /*[data-book-id] { //Removing based on partner's request
          &:before {
            content: attr(data-book-id);
            font-size: 1vw;
            width: 1vw;
            position: absolute;
            opacity: 1;
            text-align: center;
            background-image: linear-gradient(
              180deg,
              rgba(70, 34, 0, 0.6) 1%,
              rgba(179, 66, 0, 0.1) 100%
            );
            height: 5vw;
            bottom: 4vw;
            color: white;
          }
          &:after {
            content: attr(data-book-tooltip);
            font-size: 1vw;
            width: 8vw;
            position: absolute;
            opacity: 0;
            transform: translate(-80%, -120%);
            text-align: left;
            background: rgba(255, 255, 255, 0.9);
            padding: 0.3vw;
            box-shadow: 0.1vw 0.1vw 0.1vw $gray;
          }
        }*/
        &:hover {
          border-bottom: 0.3vw solid darken($lifeline,30%);
          cursor: pointer;
          td {
            opacity: 1;
            &:after {
              opacity: 1;
            }
            &:before {
              opacity: 1;
            }
            &.present {
              opacity: 1;
              & span {
                opacity: 1;
              }
            }
            &.birthEventCount,
            &.deathEventCount,
            &.marriageEventCount,
            &.historicalEventCount,
            &.entityEventCount {
              &:after {
                opacity: 1;
              }
            }
          } //td
        } //&:hover
        &.hiddenRow {
          z-index: 9;
          width: 60%;
          height: 70%;
          position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: rgba(255,255,255,0.6);
          overflow: scroll;
          padding: 100px 25% 20% 15%;
          td{
            background-color: $gray;
            padding:55px 10% 0 10%;
            width:80%;
            position: relative;
          }
          button.hidden-close {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            background-color: $primary;
            color:white;
            border: none;
            padding: 0 0 15px 10px;
            font-size: 16px;
            line-height: 1;
            &:after {
              content: "✕";
              right: 0;
              top: 7px;
              font-size: 40px;
              padding: 3px 10px;
              position: relative;
            } //&:after
            &:hover {
              background-color: $primary-dark;
              color: white;
            } //&:hover
          } //button.hidden-close
          td {
            width: 100%;
            text-align: left;
            max-width: 950px;
            margin: 0 auto;
            position: relative;
            div {
              background: white;
              width: 100%;
              margin-bottom: 3vw;
              padding: 3vw 3vw 0 5vw;
            }
            h3 {
              font-size: 30px;
              margin-left: 18px;
            }
            .hidden-row-footer {
              background: $gray;
              height:0;
              padding:0;
            }
            .container-lifetimeEvents {
              position: relative;
              h3 {
                &:before {
                  background-image: linear-gradient(
                    0deg,
                    rgba(128, 31, 0, 0.4) 6%,
                    rgba(128, 31, 0, 0) 100%
                  );
                  position: relative;
                  content: "";
                  left: -40px;
                  top:10px;
                  border-radius: 50%;
                  border: 4px double $secondary;
                  width: 22px;
                  height: 22px;
                  display:block;
                  background-repeat: no-repeat;
                  z-index: 1;
                }//&::before
                &:after {
                  position: relative;
                  content: "";
                  width:30px;
                  height:18px;
                  background:black;
                  left: -40px;
                  top:-23px;
                  display:block;
                }
              } //h3
            } // .container-lifetimeEvents 
            .container-historicalEvents {
              h3 {
                &:before {
                  content: "";
                  width: 2px;
                  height: 40px;
                  margin-top: 0;
                  left: -20px;
                  top:29px;
                  position: relative;
                  background: $primary;
                  display:block;
                }
              } //h3
            } // .container-historicalEvents
            .container-entityEvents {
              h3 {
                &:before {
                  background-image: linear-gradient(
                    180deg,
                    rgba(70, 34, 0, 0.7),
                    rgba(128, 31, 0, 0.05)
                  );
                  vertical-align: bottom;
                  position: relative;
                  content: "";
                  left: 0;
                  left: -40px;
                  top:29px;
                  clip-path: polygon(50% 0, 100% 100%, 0 100%);
                  width: 30px;
                  height: 40px;
                  margin-top: 3px;
                  display:block;
                } //::before
              } //h3
            } //.container-entityEvents
            ul {
              margin-bottom: 70px;
              li {
                h4 {
                  margin-top: 40px;
                } //h4
              } //li
            } //ul
            img {
              width: 100%;
              max-width: 1000px;
              .portrait {
                width: 50%;
                margin: 0 auto;
                text-align: center;
                display: flex;
              } //.portrait
            } //img
          } //td
        } //&.hiddenRow
        td {
          position: relative;
          //float: left;
          padding: 0;
          border: 0;
          height: auto;
          z-index: 1;
          display: flex;
          flex-direction: column;
          width: 10%;
          text-align: center;
          align-items: center;
          justify-content: center;
          // display: flex;
          &:after {
            opacity: 0.6;
          }
          & span {
            position: absolute;
            font-size: 1vw;
            opacity: 0; // Visually hidden
            /*left: 50%;*/
            visibility: visible; // Ensure it's accessible to screen readers
          }

          &.entityEventCount {
            width: calc(var(--event-value) / 1);
            //padding-bottom: calc(var(--event-value) / 1);
            margin-bottom: 0;
            opacity: 0.4;
            aspect-ratio: 1/4;
            position: relative;
            &:before {
              bottom: 0;
              vertical-align: bottom;
              position: absolute;
              content: "";
background-image: linear-gradient(0deg, #801f00 0, rgba(255, 255, 255, 0));
             transform: translateX(calc(-10% + 2.2vw));
              width: calc(var(--event-value) * 7);
              padding-bottom: calc(var(--event-value) * 7);
              border-radius:50%;
            }
            & span {
              text-align: left;
              opacity: 0;
              background: rgba(255, 255, 255, 0.9);
              display: block;
              padding: 0 0.5vw;
              font-family: "Nunito", sans-serif;
            }
            &:after {
              content: attr(data-tooltip-suffix);
              font-size: 1vw;
              width: 7vw;
              position: absolute;
              opacity: 0;
              transform: translate(60%, 0);
              text-align: left;
              background: rgba(255, 255, 255, 0.9);
              font-family: "Nunito", sans-serif;
              z-index:99;
            }
          } //&.entityEventCount
        &.year {
         width: 3vw;
  height: 100%;
  opacity: 1;
  display: flex;
  position: absolute;
          bottom:-1.2vw;
          transform: translate(30%,0);
            span {
     opacity: 1;
              font-size:0.6vw;
              font-family: "Nunito", sans-serif;
              @include transition(all 300ms ease-in);
          bottom: 0;
            }
          } //&.year
          &.historicalEventCount {
            width: 0.5vw;
            height: 0.5vw;
            vertical-align:top;
            position:absolute;
            //transform: translateX(150%);
             opacity:0;
            &:before{
              content:'';
              transform: translate(2.3vw, -130%) rotate(45deg);
               width: 0.5vw;
            height: 0.5vw;
            background:$primary;
            }
            &.present {
              content:'';
               width: 0.5vw;
            height: 0.5vw;
            vertical-align: top;
            position:absolute; 
              opacity:1;
            } //&.present
            span {
              bottom: 70%;
              transform: translate(670%, -47%);
              opacity:0;
              z-index: 9;
              font-family: "Nunito", sans-serif;
            }
            &:after {
              content: attr(data-tooltip-suffix);
              font-size: 1vw;
              width: 10vw;
              left: 700%;
              position: absolute;
              bottom: 200%;
              opacity:0;
              background:rgba(255,255,255,0.9);
              font-family: "Nunito", sans-serif;
              z-index:99;
            }
          } //&.historicalEventCount
          &.birthEventCount {
            border: 0.1vw solid lighten(gray, 25%);
            width: 1.4vw;
            height: 1.4vw;
            opacity: 1;
            display: flex;
            margin-top:-1.5vw;
            transform: translate(110%,1.8vw);
            opacity: 0;
            border-radius: 50%;
            text-decoration-color: $primary;
            border: 0.1vw solid lighten($pink, 25%);
            &.present {
              opacity: 1;
              &:before {
                left: 0;
                width: 1.4vw;
                height: 1.4vw;
                content: "B";
                position: absolute;
                font-size: 0.9vw;
                text-align: center;
                color: black;
                bottom: 0;
                z-index: 0;
                line-height: 1.6;
                font-family: "Kalnia", serif;
                text-decoration: underline; 
                line-height: 1.4;
                text-decoration-thickness: 0.01vw;//female
              } //&:before
            } //&.present
            & span {
              display: none;
            } //span
          } //&.birthEventCount
          &.deathEventCount {
            width: 1.4vw;
            height: 1.4vw;
            opacity: 1;
            display: inline-flex;
            margin-top: 0.3vw;
            background: black;
            position: absolute;
            opacity: 0;
            &.present {
              opacity: 1;
              transform: translate(120%, 1.9vw);
              border: 0.1vw solid lighten($pink, 25%);
              &:before {
                width: 1.4vw;
                height: 1.4vw;
                content: "D";
                position: absolute;
                font-size: 0.9vw;
                text-align: center;
                color: white;
                z-index: 0;
                line-height: 1.5;
                font-family: "Kalnia", serif;
                text-decoration-color: $white;
                text-decoration: underline;
              }
            } //&.present
            & span {
              display: none;
            } //span
          } //&.deathEventCount
          &.marriageEventCount {
            width: 1.25vw;
            height: 1.25vw;
            opacity: 1;
            display: flex;
            margin-top: -1.8vw;
            /*bottom:0.7vw*/
            opacity: 0;
            border-radius: 50%;
            border: solid 0.25vw #801f00;
            &.present {
              opacity: 1;
              transform: translate(96%, 2vw);
              &:before {
                width: 1.3vw;
                height: 1.3vw;
                content: "B";
                position: absolute;
                text-align: center;
                color: black;
                font-size: 0.8vw;
                text-align: center;
                bottom: 0;
                left: 0;
                color: black;
                z-index: 1;
                font-family: "Kalnia", serif;
                text-underline-offset: 0.1vw;
                text-decoration: underline; 
                line-height: 1.5;
                text-decoration-thickness: 0.01vw;//female
              } //&:before
            } //.present
            & span {
              display: none;
            } //span
          } //&.marriageEventCount

          &.birthEventCount,
          &.deathEventCount,
          &.marriageEventCount {
            &.child-1:before {
              content: "1";//female
            } //.child-1:before
            &.child-2:before {
              content: "2";//female
            } //.child-2:before
            &.child-3:before {
              content: "3";//female
            } //.child-3:before
            &.child-4:before {
              content: "4";//female
            } //.child-4:before
            &.child-5:before {
              content: "5";//female
            } //.child-5:before
            &.child-6{
              border: 0.1vw solid darken($taupe,50%);
            &:before {
              content: "6"; //male
              text-decoration-thickness: 0.08vw;
              text-decoration-style: double;
      line-height:1.2;
              
              }
            } //.child-6:before
            &.child-7{
              border: 0.1vw solid darken($taupe,50%);
            &:before {
              content: "7";//male
              text-decoration-thickness: 0.08vw;
              text-decoration-style: double;
               line-height:1.2;
              }
            } //.child-7:before
            &.child-8:before {
              content: "8";//female
            } //.child-8:before
            &.child-9{
              border: 0.1vw solid darken($taupe,50%);
            &:before {
              content: "9";//male
              text-decoration-thickness: 0.08vw;
              text-decoration-style: double;
               line-height:1.2;
              }
            } //.child-9:before
            &.alice{
            &:before {
              content: "T"; //female
              }
            } //.alice:before
            &.alice-mother{
              transform: translate(110%, -0.1vw);
            &:before {
              content: "AW";//female
              line-height: 3.4;
              font-size:0.55vw; 
              font-weight:500;
            } 
            }//.alice-mother:before
            &.alice-father{
                            transform: translate(110%, -0.1vw);
            &:before {
              content: "CW";//male
              line-height:1.9;
              font-size:0.65vw; 
              font-weight:500;
              text-decoration-thickness: 0.08vw;
              text-decoration-style: double;
            } 
            }//.alice-father:before
            &.alice-husband{
                            transform: translate(110%, 1.55vw);
              &:before {
              content: "WT";//male
              line-height: 2.7;
              text-decoration-thickness: 0.08vw;
              text-decoration-style: double;
              font-size:0.65vw; 
              font-weight:500;
            } 
            }//.alice-husband:before
          } //&.birthEventCount, &.deathEventCount, &.marriageEventCount
          &.birthEventCount,
          &.marriageEventCount,
          &.deathEventCount {
            &:after {
              content: attr(data-title);
              background: rgba(255, 255, 255, 0.9);
              border:0.01vw solid lightgray;
              width: 15vw;
              font-size: 0.9vw;
              line-height: 1;
              position: absolute;
              top: 220%;
              height: auto;
              opacity: 0;
              z-index:99;
              color: black;
              padding: 0.3vw 0;
              font-family: "Nunito", sans-serif;
            }
          }
          &.birthEventCount{
            &.alice:after{
              top: 130%;
            }
          }//&.birthEventCount
          &.marriageEventCount {
            &:after {
              transform: translateX(0%);
              top: 130%;
            }
            &.alice:after{
              top: 230%;
            }
            &.child-2:after{
              top: 240%;
            }
          } //&.marriageEventCount
          &.deathEventCount {
           &.child-1{
              transform: translate(110%, 1.55vw);
            } //.child-1:before
            &.child-3{
               transform: translate(110%, 1.55vw);
            } //.child-3:before
            &.child-5{
               transform: translate(110%, 1.55vw);
            } //.child-5:before
            &.child-6{
              transform: translate(110%, 1.55vw);
            } //.child-6:before
           &.child-7{
              transform: translate(110%, -0.1vw);
      
            }//.child-7:before
            &.child-8{
              transform: translate(110%, -0.1vw);
            }//."child-8":before
            &.child-9{
              transform: translate(110%, 1.55vw);
            } //.child-9:before
            &.alice{
              transform: translate(110%, -0.1vw);
            &:before {
              line-height: 1.5;
              } 
            }//.alice:before
            &:after {
              top: 350%;
              background: rgba(0, 0, 0, 0.9);
              box-shadow: 0 0.1vw 0.3vw rgba(0, 0, 0, 0.4);
              color: white;
              padding: 0.2vw 0;
            }
            &.alice:after, &.child-7:after, &.alice-mother:after, &.alice-father:after{
              top: 130%;
            }
            &.child-8:after{
              top: 220%;
            }
                &.alice-husband:after{
              top: 420%;
            }
          } //&.deathEventCount
        } //td
      } //tr
    } //tbody
  } //table
} //#data

.howtoread{
  display: flex;
  flex-wrap: wrap;
  h2{
    width:100%;
  }
   .guidelines {
     width:55%;
     padding-right: calc(4% - 1px);
     border-right:1px solid gray;
  }//.guidelines
  .legend-wrapper {
    font-family: "Inter", sans-serif;
  z-index: 1;
  pointer-events: auto;
     width:37%;
    padding-left:4%;
  
  .content {
    display: flex;
flex-wrap: wrap;
                  h4 {
        margin: 0;
        font-size: 18px;
      }
  .col1{
    ul.events{
      text-align: center;
      font-size:14px;

      span{
        margin-left:-40px;
        font-size:13px;
        color:gray;
        margin-top:100px;
        display:block;
      }
      li {
        list-style-type: none;
        margin-left:-40px;
        padding-bottom: 20px;
        &:nth-child(1) {
          // Alice's Lifeline
          margin-top:30px;
          &:before {
            content: "";
            width: 200px;
            height: 5px;
            margin-top: -7px;
            position: absolute;
            background: $lifeline;
            margin-left:-62px;
          } //&:before
        } //nth-child(1)
        &:nth-child(4) {
          //Book Events
          &:before {
            vertical-align: bottom;
            position: absolute;
            content: "";
            margin-left: -5px;
            width: 10px;
            height: 10px;
            margin-top: -30px;
            background: linear-gradient(0deg, #801f00 0, rgba(255, 255, 255, 0));
            border-radius:50%;
            opacity:0.7;
          } //&:before
          &:after {
            vertical-align: bottom;
            position: absolute;
            content: "";
            margin-left: -55px;
            width: 80px;
            height: 80px;
            margin-top: -100px;
            background: linear-gradient(0deg, #801f00 0, rgba(255, 255, 255, 0));
            border-radius:50%;
            opacity:0.7;
          } //&:before
        } //nth-child(3)
        &:nth-child(2) {
          //Historical
          margin-left:-40px;
          margin-top:40px;
          &:before {
            content: "";
            width: 10px;
            height: 10px;
            margin-top: -15px;
            margin-left: 55px;
            position: absolute;
            background: black;
            transform: rotate(45deg);
          } //&:before
        } //nth-child(4)
      } // li
      }//ul
    } //.col1

    .col2 {
      padding-left:2vw;
      width: 175px;
      margin-left:25px;
      font-size:14px;
      span{
        font-family: "Kalnia", serif;
         width:30px;
          display:inline-block;
          font-size:13px;
      }
    ul.occasions{
      margin:10px 0 20px 0;
      li {
        list-style-type: none;
        margin-left:-10px;
        line-height:1.8;
        &:nth-child(1) {
          //Birth
          &:before {
            background-repeat: no-repeat;
            border: 1px solid gray;
            width: 16px;
            height: 16px;
            content: "";
            position: absolute;
            border-radius: 50%;
            margin-left: -30px;
            margin-top: 5px;
          } //&:before
        }//nth-child(1)
        &:nth-child(2) {
          //Deaths
          &:before {
            width: 17px;
            height: 17px;
            content: "";
            background: black;
            position: absolute;
            margin-left: -29px;
            margin-top: 5px;
          } //&:before
        } //nth-child(2)
        &:nth-child(3) {
          //Marriages
          &:before {
            width: 14px;
            height: 14px;
            opacity: 1;
            position: absolute;
            content: "";
            margin-left: -30px;
            border:3px solid $secondary-dark;
            border-radius:50%;
            margin-top: 2px;
          } //&:before
        } //nth-child(3)
      } // li
      }//ul.occasions

  ul.people{
      margin:10px 0 30px 0;
     li {
        list-style-type: none;
        margin-left: -40px;
         line-height:1.5;
        &:nth-child(6) { //Female
          span{
            color:gray;
            padding:0 0px;
            width:30px;
          color:lighten($pink,35%);
            &:before {
            width: 10px;
            height: 1px;
            content: "";
            position: absolute;
            margin-left: -0.5px;
            margin-top: 14.5px;
            border-bottom: 1px solid $primary;
          } //&:before
          }//span
        } //nth-child(1)
          &:nth-child(7) {
          //Male
          span{
            color:gray;
            padding:0;
            width:30px;
            color:darken($taupe,10%);
            &:before {
            width: 10px;
            height: 1px;
            content: "";
            position: absolute;
            margin-left: -0.5px;
            margin-top: 14px;
            border-bottom: 4px double $primary;
          } //&:before
          }//span
        } //nth-child(7)
      }//li
    }//ul.people
    } //.col2
  } //.content
  //input#filter[type="checkbox"]:checked~label.filter
} //.legend-wrapper
}//.howtoread


@media screen and (max-width: 800px) {
  #data{ 
    table{ 
      tbody{ 
        tr{
          &.hiddenRow {
            z-index: 99;
            margin-top: 56px;
            width: 98%;
            height: 70%;
            padding: 20% 1%;
            td{
              padding:55px 5% 0 5%;
              width:90%;
            }
          }
        }
      }
    }
  }
  section.section{
       padding-left:4%;
  }
  .howtoread{
 
    .guidelines, .legend-wrapper{
      width:100%;
      padding-left:0;
      border-right: none;
    }
  }//.howtoread
}//@media screen and (max-width: 800px)