node_modules/
node-supporters/
.env
.log
.cache
.unotes/
cache
yarn.lock
.vscode
**/.DS_Store
_generated*
src/_data/builtwith/
.netlify/
netlify/functions/serverless/*
!netlify/functions/serverless/index.js
netlify/functions/dynamic/*
!netlify/functions/dynamic/index.js
!frontend/_site/assets/node_modules
tweets.json
_site
/osnap
/tests
/admin
TODO.md
tei_all.rng
/tmp
**/zoomify/in/*
/apps/entities/edition
/apps/checktexts/edition
.idea/
/apps/entities/xslt/tei-to-json.sef.json
/apps/textsearch/clone