coverage
cms/snapshots/*.yaml
node_modules
dts
frontend/node_modules
frontend/_site
frontend/books/*.md
frontend/posts/blog/*.md
frontend/posts/news/*.md
frontend/people/*.md
frontend/assets/js/entities.json
apps/textsearch