<footer class="footer">
  <div class="has-text-centered">
    <h2 class="small-heading">Partners and Funders</h2>
    <div class="gallery-by-4 logos">
      <a href="//www.ed.ac.uk/">
        <img
          src="{{ '/assets/img/logos/UoE_Stacked_Logo_CMYK_v1_160215.png' | url }}"
          alt="University of Edinburgh"
          width="50"
          height="50" />
      </a>

      <a href="//www.ukri.org/about-us/ahrc/">
        <img
          src="{{ '/assets/img/logos/UKRI_AHR_Council-Logo_Square-RGB.png' | url }}"
          alt="Arts and Humanities Council (AHRC)"
          width="30"
          height="30" />
      </a>

      <a href="//www.durhamcathedral.co.uk/">
        <img
          src="{{ '/assets/img/logos/DC_Logo_Black.png' | url }}"
          alt="Durham Cathedral"
          width="50"
          height="50" />
      </a>

      <a href="//kdl.kcl.ac.uk/">
        <img
          src="{{ '/assets/img/logos/KCL-square.svg' | url }}"
          alt="King's Digital Lab, King's College London"
          width="30"
          height="30" />
      </a>
    </div>

    <p class="dont-print">
      Follow us on:
      
      <a href="//bsky.app/profile/thorntonsbooks.bsky.social" title="Follow Alice Thornton's Books on Bluesky" class="logo-x">
        Bluesky</a>  |

      <a href="//www.facebook.com/thornton.books" title="Follow Alice Thornton's Books on Facebook">
        Facebook</a> |

      <a href="//www.instagram.com/thornton_books/" title="Follow Alice Thornton's Books on Instagram">
        Instagram</a> |

      <a href="//github.com/kingsdigitallab/alice-thornton" title="The project repository on Github">
        Github</a>
    </p>
        <p class="small">
     <em>ISBN: 978-1-912466-34-4</em>
    </p>
    <p class="small dont-print">
      <a href="/accessibility/">Accessibility Statement</a>
      |
      <a href="/credits/">Credits &amp; Acknowledgements</a>
        |
      <a href="/privacy-policy/">Privacy Policy</a>
    </p>

    <p class="small">
      Designed, developed and maintained by
      <a href="//kdl.kcl.ac.uk/">King's Digital Lab</a>.
    </p>
  </div>
</footer>
