{% comment %}
Renders the given array of category keys as a comma separated list of names
categories: array of post categories keys e.g. ['blog']
{% endcomment %}
{%- for category in metadata.postCategories -%}
{% if post.tags contains category.tag %}
<a href="/posts/{{ category.tag }}/" class="category-link tag is-accent">
{{ category.label }}
</a>
{% endif %}
{%- endfor -%}
