<p class="search-intro">
There are two types of search options of the Books in the tabs below. 
Text search is the default spanning all the words, which generates the results with the input highlightes with snippets. 
Index search returns entities such as people, places and events.
</p>
<div class="tabs">
  <ul>
    <li {% if searchTab == 'index' %}class="is-active"{% endif %}><a href="/entities/">Index</a></li>
    <li {% if searchTab == 'text' %}class="is-active"{% endif %}><a href="/entities/textsearch/">Text</a></li>
  </ul>
</div>
