<p class="search-intro">
The Index search finds entries such as people, places and events.
The Text search finds words and phrases in the Books and shows the results as snippets with the word/phrase highlighted. 
</p>
<div class="tabs">
  <ul>
    <li {% if searchTab == 'index' %}class="is-active"{% endif %}><a href="/entities/">Index</a></li>
    <li {% if searchTab == 'text' %}class="is-active"{% endif %}><a href="/entities/textsearch/">Text</a></li>
  </ul>
</div>
