<p class="search-intro">
The Index search finds entries such as people, places and events.
The Text search finds words and phrases in the Books and shows the results as snippets with the word/phrase highlighted. 
A short video tutorial is available 
<a href="https://media.kcl.ac.uk/embed/secure/iframe/entryId/1_ee8zvab4/uiConfId/50622292/st/0">here</a> 
(also <a href="https://www.youtube.com/watch?v=lojt25wdczw">here</a> with subtitles).
</p>
<div class="tabs">
  <ul>
    <li {% if searchTab == 'index' %}class="is-active"{% endif %}><a href="/entities/">Index</a></li>
    <li {% if searchTab == 'text' %}class="is-active"{% endif %}><a href="/entities/textsearch/">Text</a></li>
  </ul>
</div>
