<link rel="stylesheet" href="{{ '/assets/css/textviewer2.css' | url }}?ts={{ "now" | date: "%s" }}">

<nav class="textviewer-nav">
  <ul>
    <li>
      <h1><img
          src="https://thornton.kdl.kcl.ac.uk/assets/img/logos/alice-thornton-logo-img.jpeg"
          alt="AT logo"
          width="30"
          height="30">Alice Thornton's Books
        <span>Digital Edition</span>
      </h1>
    </li>

    <li></li>

    <li class="tooltip">⚃
      <span class="tooltiptext left">4 Books Preview</span>
    </li>

    <li class="tooltip">?
      <span class="tooltiptext left">Help guidelines on how to use this text viewer</span>
    </li>
  </ul>
</nav>

<div class="panel-wrapper">
<input id="drawer-switch" type="checkbox" />
<aside id="drawer" role="complementary">
  <h3>Research information for Book 1 SD p4</h3>
  <div class="tabs">
    <div class="tab">
      <input
        type="radio"
        id="tab-1"
        name="tab-group-1"
        checked>
      <label for="tab-1">
        <span>☷</span>Textual Information</label>
      <div class="content">
        <ul>
          <li>
            <span>note icon</span><br>Editorial Notes</li>
          <li>
            <span>dotted underline
            </span><br>Entity</li>
          <li>
            <span>gylphs</span><br>visual elements/drawings by the author
          </li>
          <li>
            <span>Number (top left)</span><br>Page number in the author's original book
          </li>
          <li>
            <span>image icon</span><br>the scanned image of page in the author's original book
          </li>
          <li>
            <span>strikethrough</span><br>Text deleted by author
          </li>
          <li>
            <span>superscript</span><br>Addition information added by the author
          </li>
          <li>
            <span>larger bold font</span><br>Page title
          </li>
        </ul>
      </div>
    </div>

    <div class="tab">
      <input
        type="radio"
        id="tab-2"
        name="tab-group-1">
      <label for="tab-2">
        <span>✎</span>Editorial Notes</label>

      <div class="content">
        <ul>
          <li>
            <span class="body">
              <span class="tei-p" data-tei="p">
                A cross in the left hand margin: appears to be an "omission sign" or
                "signe de renvoi". See Benjamin Neudorf and Yin Liu, 'Signes-de-Renvoi',
                <span
                  class="tei-hi"
                  data-tei="hi"
                  data-tei-rend="italic">Architectures of the Book</span>, December 21, 2016,
                <span
                  class="tei-ref"
                  data-tei="ref"
                  data-tei-target="https://drc.usask.ca/projects/archbook/signes_de_renvoi.php">https://drc.usask.ca/projects/archbook/signes_de_renvoi.php</span>.
                It perhaps relates to material at the back of this book as the first entry there (page 186) relates to
                                                                  an incident in 1629.
              </span>
            </span>
          </li>
          <li>
            <span class="body">
              <span class="tei-p" data-tei="p">
                Surfeit: 'Excessive consumption of food or drink; overindulgence in
                eating or drinking; gluttony’,
                <span
                  class="tei-hi"
                  data-tei="hi"
                  data-tei-rend="italic">OED</span>.
              </span>
            </span>
          </li>
          <li>
            <span class="body">
              <span class="tei-p" data-tei="p">
                On seventeenth-century measles see Alan Dyer, ‘Epidemics of Measles in
                a Seventeenth Century English Town’,
                <span
                  class="tei-hi"
                  data-tei="hi"
                  data-tei-rend="italic">Local
                  Population Studies</span>
                34 (1985): 35–45. In early use, ‘measles’ could denote various diseases
                causing a red rash:
                <span
                  class="tei-hi"
                  data-tei="hi"
                  data-tei-rend="italic">OED</span>.</span>
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="tab">
      <input
        type="radio"
        id="tab-3"
        name="tab-group-1">
      <label for="tab-3">
        <span>♛</span>Entities</label>

      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec consectetur nisi, non scelerisque
          justo. Aenean sed ultrices sem. Pellentesque non efficitur quam. Praesent nec odio egestas, aliquet nulla
                                          id, dapibus magna. Integer eu eros enim. Donec quis sapien vel metus ullamcorper dictum sit amet et mauris.
                                          Cras quam urna, tincidunt et ullamcorper tempus, condimentum eu nunc. Cum sociis natoque penatibus et magnis
                                          dis parturient montes, nascetur ridiculus mus. Vestibulum felis ex, tempor ac fringilla vitae, euismod
                                          ornare ante.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec consectetur nisi, non scelerisque
          justo. Aenean sed ultrices sem. Pellentesque non efficitur quam. Praesent nec odio egestas, aliquet nulla
                                          id, dapibus magna. Integer eu eros enim. Donec quis sapien vel metus ullamcorper dictum sit amet et mauris.
                                          Cras quam urna, tincidunt et ullamcorper tempus, condimentum eu nunc. Cum sociis natoque penatibus et magnis
                                          dis parturient montes, nascetur ridiculus mus. Vestibulum felis ex, tempor ac fringilla vitae, euismod
                                          ornare ante.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec consectetur nisi, non scelerisque
          justo. Aenean sed ultrices sem. Pellentesque non efficitur quam. Praesent nec odio egestas, aliquet nulla
                                          id, dapibus magna. Integer eu eros enim. Donec quis sapien vel metus ullamcorper dictum sit amet et mauris.
                                          Cras quam urna, tincidunt et ullamcorper tempus, condimentum eu nunc. Cum sociis natoque penatibus et magnis
                                          dis parturient montes, nascetur ridiculus mus. Vestibulum felis ex, tempor ac fringilla vitae, euismod
                                          ornare ante.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec consectetur nisi, non scelerisque
          justo. Aenean sed ultrices sem. Pellentesque non efficitur quam. Praesent nec odio egestas, aliquet nulla
                                          id, dapibus magna. Integer eu eros enim. Donec quis sapien vel metus ullamcorper dictum sit amet et mauris.
                                          Cras quam urna, tincidunt et ullamcorper tempus, condimentum eu nunc. Cum sociis natoque penatibus et magnis
                                          dis parturient montes, nascetur ridiculus mus. Vestibulum felis ex, tempor ac fringilla vitae, euismod
                                          ornare ante.</p>
      </div>
    </div>
    <div class="tab">
      <input
        type="radio"
        id="tab-4"
        name="tab-group-1">
      <label for="tab-4">
        <span>✥</span>Biblical Refererences</label>

      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec consectetur nisi, non scelerisque
          justo. Aenean sed ultrices sem. Pellentesque non efficitur quam. Praesent nec odio egestas, aliquet nulla
                                          id, dapibus magna. Integer eu eros enim. Donec quis sapien vel metus ullamcorper dictum sit amet et mauris.
                                          Cras quam urna, tincidunt et ullamcorper tempus, condimentum eu nunc. Cum sociis natoque penatibus et magnis
                                          dis parturient montes, nascetur ridiculus mus. Vestibulum felis ex, tempor ac fringilla vitae, euismod
                                          ornare ante.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec consectetur nisi, non scelerisque
          justo. Aenean sed ultrices sem. Pellentesque non efficitur quam. Praesent nec odio egestas, aliquet nulla
                                          id, dapibus magna. Integer eu eros enim. Donec quis sapien vel metus ullamcorper dictum sit amet et mauris.
                                          Cras quam urna, tincidunt et ullamcorper tempus, condimentum eu nunc. Cum sociis natoque penatibus et magnis
                                          dis parturient montes, nascetur ridiculus mus. Vestibulum felis ex, tempor ac fringilla vitae, euismod
                                          ornare ante.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec consectetur nisi, non scelerisque
          justo. Aenean sed ultrices sem. Pellentesque non efficitur quam. Praesent nec odio egestas, aliquet nulla
                                          id, dapibus magna. Integer eu eros enim. Donec quis sapien vel metus ullamcorper dictum sit amet et mauris.
                                          Cras quam urna, tincidunt et ullamcorper tempus, condimentum eu nunc. Cum sociis natoque penatibus et magnis
                                          dis parturient montes, nascetur ridiculus mus. Vestibulum felis ex, tempor ac fringilla vitae, euismod
                                          ornare ante.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec consectetur nisi, non scelerisque
          justo. Aenean sed ultrices sem. Pellentesque non efficitur quam. Praesent nec odio egestas, aliquet nulla
                                          id, dapibus magna. Integer eu eros enim. Donec quis sapien vel metus ullamcorper dictum sit amet et mauris.
                                          Cras quam urna, tincidunt et ullamcorper tempus, condimentum eu nunc. Cum sociis natoque penatibus et magnis
                                          dis parturient montes, nascetur ridiculus mus. Vestibulum felis ex, tempor ac fringilla vitae, euismod
                                          ornare ante.</p>
      </div>
    </div>

  </div>
</aside>
<div class="page-wrap">
  <div class="panel">
    <nav class="panel-nav">
      <ul>

        <li class="tooltip">⚀
          <span class="tooltiptext bottom">Book Summary/Preview</span>
        </li>
        <li class="tooltip">⤒
          <span class="tooltiptext bottom">Download Page/Book/TEI code</span>
        </li>

        <li>

          <div class="select-dropdown tooltip">
            <span class="tooltiptext bottom">Select book</span>

            <!-- removed id="image_switcher" -->
            <select aria-label="image switcher">

              <option
                value="1236"
                data-url="/catalogue/mss-1/article-001/01-recto/"
                selected="">Book 1</option>

              <option value="1237" data-url="/catalogue/mss-1/article-001/01-verso/">Book 2
              </option>

              <option value="1238" data-url="/catalogue/mss-1/article-001/02-recto/">Book 3
              </option>

              <option value="1239" data-url="/catalogue/mss-1/article-001/02-verso/">Book 4
              </option>

            </select>
          </div>
          <div class="select-dropdown tooltip">
            <span class="tooltiptext bottom">Select version</span>
            <!-- removed id="image_switcher" -->
            <select aria-label="image switcher">

              <option
                value="1236"
                data-url="/catalogue/mss-1/article-001/01-recto/"
                selected="">Semi-Diplomatic
              </option>

              <option value="1237" data-url="/catalogue/mss-1/article-001/01-verso/">Modernised</option>

            </select>
          </div>
          <a class="prev tooltip" href="/">
            <span class="tooltiptext bottom">Previous page</span>⏴</a>

          <div class="select-dropdown tooltip">
            <span class="tooltiptext bottom">Select page</span>
            <!-- removed id="image_switcher" -->
            <select aria-label="image switcher">

              <option value="" selected="">Page 4</option>

              <option value="">Page 5</option>
              <option value="">Page 6</option>
              <option value="">Page 7</option>
              <option value="">Page 8</option>
              <option value="">Page 9</option>

            </select>
          </div>
          <a class="next tooltip" href="/">
            <span class="tooltiptext bottom">Next page</span>
            ⏵</a>
        </li>



        <li class="tooltip">+
          <span class="tooltiptext bottom">Add to compare another page or book</span>
        </li>
        <li class="tooltip">
          <span class="tooltiptext bottom">Page information</span>
          <label for="drawer-switch" id="drawer-toggle"></label>

        </li>
        <!--    <li><label for="drawer-switch" id="drawer-toggle">Page information</label></li>-->
      </ul>
    </nav>



    <div
      id="text-viewer"
      class="text-viewer columns"
      data-v-app="">

      <nav class="panel column buttons">
        <div class="panel-block panel-chunk">
          <!--v-if-->
          <div class="content view-semidip loaded">
            <div
              class="tei-TEI"
              data-tei="TEI"
              data-tei-id="atb-book-of-remembrances">

              <div class="dts-fragment" data-dts="fragment">
                <div class="tei-front not-a-word" data-tei="front">
                  <div class="tei-div not-a-word" data-tei="div">
                    <p class="tei-p" data-tei="p">



                      <span
                        class="tei-fw tei-type-pageNum not-a-word"
                        data-tei="fw"
                        data-tei-type="pageNum">10</span>

                      me with my
                      <span
                        class="tei-w"
                        data-tei="w"
                        data-tei-norm="milk">
                        <span class="norm">milk</span>
                        <span class="orig">milke</span>
                      </span>.
                      <span
                        class="tei-w tei-type-u"
                        data-tei="w"
                        data-tei-norm="And"
                        data-tei-type="u">
                        <span class="norm">And</span>
                        <span class="orig">and</span>
                      </span>
                      <span
                        class="tei-supplied not-a-word"
                        data-tei="supplied"
                        data-tei-reason="mod">,</span>
                      therefore<span
                        class="tei-supplied not-a-word"
                        data-tei="supplied"
                        data-tei-reason="mod">,</span><br class="tei-lb" data-tei="lb">
                      shall begin with the first mention of<br class="tei-lb" data-tei="lb">
                      my
                      <span class="tei-w" data-tei="w">deliverances</span>
                      since my first know<span class="tei-pc not-a-word divide-word" data-tei="pc">-</span><br
                        class="tei-lb"
                        data-tei="lb"
                        data-tei-break="no">ledge
                      <span
                        class="tei-w not-a-word"
                        data-tei="w"
                        data-tei-norm="and">
                        <span class="norm">and</span>
                        <span class="orig">&amp;</span>
                      </span>
                      remembrance most worthy<br class="tei-lb" data-tei="lb">
                      of a
                      <span
                        class="tei-w"
                        data-tei="w"
                        data-tei-norm="perpetual">
                        <span class="norm">perpetual</span>
                        <span class="orig">perpetuall</span>
                      </span>
                      <span
                        class="tei-w"
                        data-tei="w"
                        data-tei-norm="memory">
                        <span class="norm">memory</span>
                        <span class="orig">memmory</span>
                      </span>, which I hope<br class="tei-lb" data-tei="lb">
                      shall
                      <span
                        class="tei-subst"
                        data-tei="subst"
                        data-tei-id="ex-subst_double_gap-01">
                        <del
                          class="tei-del"
                          data-tei="del"
                          data-tei-rend="doublestrikethrough">
                          <span
                            class="tei-gap"
                            data-tei="gap"
                            data-tei-unit="char"
                            data-tei-quantity="4"
                            data-tei-reason="deleted"></span>
                        </del>
                        <ins
                          class="tei-add"
                          data-tei="add"
                          data-tei-place="above">not</ins>
                      </span>
                      <span
                        class="tei-surplus not-a-word"
                        data-tei="surplus"
                        data-tei-reason="superfluous">,</span>
                      end with this life but spring<br class="tei-lb" data-tei="lb">
                      up to an
                      <span
                        class="tei-w tei-type-l"
                        data-tei="w"
                        data-tei-norm="eternity"
                        data-tei-type="l">
                        <span class="norm">eternity</span>
                        <span class="orig">Eternity</span>
                      </span>
                      of
                      <span
                        class="tei-w"
                        data-tei="w"
                        data-tei-norm="hallelujahs">
                        <span class="norm">hallelujahs</span>
                        <span class="orig">Haleiuias</span>
                      </span>
                      of<br class="tei-lb" data-tei="lb">
                      praise to all
                      <span
                        class="tei-w tei-type-l"
                        data-tei="w"
                        data-tei-norm="eternity"
                        data-tei-type="l">
                        <span class="norm">eternity</span>
                        <span class="orig">Eternity</span>
                      </span>
                      <span
                        class="tei-supplied not-a-word"
                        data-tei="supplied"
                        data-tei-reason="mod">.</span>
                      Amen.
                    </p>
                  </div>
                </div>

                <span class="tei-body" data-tei="body">

                  <div
                    class="tei-div"
                    data-tei="div"
                    data-tei-id="div-009"
                    data-tei-rend="post(rule_short_right)">
                    <span class="tei-fw" data-tei="fw">
                      <span
                        class="tei-fw"
                        data-tei="fw"
                        data-tei-id="mnote-0001"
                        data-tei-place="left margin">
                        <span
                          class="tei-g not-a-word"
                          data-tei="g"
                          data-tei-ref="#u8284">⁜</span>
                        <span
                          class="tei-anchor tei-type-text has-info-box"
                          data-tei="anchor"
                          data-tei-corresp="#ednote-0013"
                          data-tei-type="text"
                          data-tei-resp="ednote">
                          <span
                            class="tei-note info-box"
                            data-tei="note"
                            data-tei-n="12"
                            data-tei-id="ednote-0013">
                            <span class="banner">(Note)</span>
                            <span class="body">
                              <span class="tei-p" data-tei="p">
                                A cross in the left hand margin: appears to be an
                                "omission sign" or "signe de renvoi". See Benjamin Neudorf and Yin Liu,
                                                                                                                                  'Signes-de-Renvoi',
                                <span
                                  class="tei-hi"
                                  data-tei="hi"
                                  data-tei-rend="italic">Architectures of the Book</span>, December 21, 2016,
                                <span
                                  class="tei-ref"
                                  data-tei="ref"
                                  data-tei-target="https://drc.usask.ca/projects/archbook/signes_de_renvoi.php">https://drc.usask.ca/projects/archbook/signes_de_renvoi.php</span>.
                                It perhaps relates to material at the back of this book as the first entry there (page
                                                                                                                                  186) relates to an incident in 1629.
                              </span>
                            </span>
                          </span>
                        </span>

                      </span>
                      <span
                        class="tei-fw tei-type-head"
                        data-tei="fw"
                        data-tei-type="head"
                        data-tei-rend="underline">
                        <span
                          class="tei-date not-a-word"
                          data-tei="date"
                          data-tei-when-custom="1631">1631</span>
                      </span>
                    </span>
                    <span
                      class="tei-milestone"
                      data-tei="milestone"
                      data-tei-n="ev2"
                      data-tei-unit="event"></span>
                    <p
                      class="tei-p"
                      data-tei="p"
                      data-tei-id="p-0009">
                      <span
                        class="tei-date"
                        data-tei="date"
                        data-tei-when-custom="1630">When</span>
                      I was left at
                      <span
                        class="tei-placeName has-info-box"
                        data-tei="placeName"
                        data-tei-ref="place:Rich_043"
                        data-tei-n="place4">Richmond<span
                          class="tei-note tei-type-entity info-box"
                          data-tei="note"
                          data-tei-type="entity">
                          <span class="banner">Place (Entity)</span>
                          <span class="body">Richmond, Yorkshire</span>
                        </span>
                      </span>
                      <span class="tei-subst" data-tei="subst">
                        <del
                          class="tei-del"
                          data-tei="del"
                          data-tei-rend="strikethrough">in</del>
                        <ins
                          class="tei-add"
                          data-tei="add"
                          data-tei-place="above">under</ins>
                      </span>
                      <br class="tei-lb" data-tei="lb">
                      the care
                      <span
                        class="tei-w not-a-word"
                        data-tei="w"
                        data-tei-norm="and">
                        <span class="norm">and</span>
                        <span class="orig">&amp;</span>
                      </span>
                      <span
                        class="tei-w"
                        data-tei="w"
                        data-tei-norm="dear">
                        <span class="norm">dear</span>
                        <span class="orig">deare</span>
                      </span>
                      love of my beloved
                      <span
                        class="tei-w not-a-word"
                        data-tei="w"
                        data-tei-norm="and">
                        <span class="norm">and</span>
                        <span class="orig">&amp;</span>
                      </span><br class="tei-lb" data-tei="lb">
                      gracious
                      <span
                        class="tei-persName has-info-box"
                        data-tei="persName"
                        data-tei-ref="ppl:awn1"
                        data-tei-n="per8">Aunt Norton<span
                          class="tei-note tei-type-entity info-box"
                          data-tei="note"
                          data-tei-type="entity">
                          <span class="banner">Person (Entity)</span>
                          <span class="body">Anne
                            Norton (1593-1683)</span>
                        </span>
                      </span>
                      <span
                        class="tei-supplied not-a-word"
                        data-tei="supplied"
                        data-tei-reason="mod">,</span>
                      upon
                      <span
                        class="tei-rs tei-type-person has-info-box"
                        data-tei="rs"
                        data-tei-ref="ppl:cw1"
                        data-tei-n="per9"
                        data-tei-type="person">my
                        <span
                          class="tei-w"
                          data-tei="w"
                          data-tei-norm="father's">
                          <span class="norm">father's</span>
                          <span class="orig">fathers</span>
                        </span>
                        <span
                          class="tei-note tei-type-entity info-box"
                          data-tei="note"
                          data-tei-type="entity">
                          <span class="banner">Person (Entity)</span>
                          <span class="body">Christopher Wandesford (1592-1640)</span>
                        </span>
                      </span><br class="tei-lb" data-tei="lb">
                      going to
                      <span
                        class="tei-placeName has-info-box"
                        data-tei="placeName"
                        data-tei-ref="place:Lond_080"
                        data-tei-n="place117">London<span
                          class="tei-note tei-type-entity info-box"
                          data-tei="note"
                          data-tei-type="entity">
                          <span class="banner">Place (Entity)</span>
                          <span class="body"></span>
                        </span>
                      </span>
                      <span
                        class="tei-pc not-a-word"
                        data-tei="pc"
                        data-tei-norm=",">
                        <span class="norm">,</span>
                        <span class="orig">.</span>
                      </span>
                      <span
                        class="tei-w tei-type-l"
                        data-tei="w"
                        data-tei-norm="it"
                        data-tei-type="l">
                        <span class="norm">it</span>
                        <span class="orig">It</span>
                      </span>
                      pleased God
                      to<br class="tei-lb" data-tei="lb">
                      bring me into a very great
                      <span
                        class="tei-w"
                        data-tei="w"
                        data-tei-norm="weakness">
                        <span class="norm">weakness</span>
                        <span class="orig">weaknesse</span>
                      </span><br class="tei-lb" data-tei="lb">
                      <span
                        class="tei-w not-a-word"
                        data-tei="w"
                        data-tei-norm="and">
                        <span class="norm">and</span>
                        <span class="orig">&amp;</span>
                      </span>
                      <span
                        class="tei-w"
                        data-tei="w"
                        data-tei-norm="sickness">
                        <span class="norm">sickness</span>
                        <span class="orig">sickenesse</span>
                      </span>
                      upon the accident of a
                      <span
                        class="tei-w"
                        data-tei="w"
                        data-tei-norm="surfeit">
                        <span class="norm">surfeit</span>
                        <span class="orig">surfit</span>
                      </span><br class="tei-lb" data-tei="lb">
                      on some ill
                      <span
                        class="tei-w"
                        data-tei="w"
                        data-tei-norm="digested">
                        <span class="norm">digested</span>
                        <span class="orig">dejested</span>
                      </span>
                      <span
                        class="tei-w"
                        data-tei="w"
                        data-tei-norm="meat">
                        <span class="norm">meat</span>
                        <span class="orig">meate</span>
                      </span>, causing an<br class="tei-lb" data-tei="lb">
                      <span
                        class="tei-w"
                        data-tei="w"
                        data-tei-norm="extreme">
                        <span class="norm">extreme</span>
                        <span class="orig">extreame</span>
                      </span>
                      vomiting,<span
                        class="tei-anchor tei-type-oed_context has-info-box"
                        data-tei="anchor"
                        data-tei-corresp="#ednote-0014"
                        data-tei-type="oed_context"
                        data-tei-resp="ednote">
                        <span
                          class="tei-note tei-type-oed info-box"
                          data-tei="note"
                          data-tei-n="13"
                          data-tei-type="oed"
                          data-tei-id="ednote-0014">
                          <span class="banner">(Note)</span>
                          <span class="body">
                            <span class="tei-p" data-tei="p">
                              Surfeit: 'Excessive consumption of food or drink;
                              overindulgence in eating or drinking; gluttony’,
                              <span
                                class="tei-hi"
                                data-tei="hi"
                                data-tei-rend="italic">OED</span>.
                            </span>
                          </span>
                        </span>
                      </span>
                      whose violence drove<br class="tei-lb" data-tei="lb">
                      me into a
                      <span
                        class="tei-w"
                        data-tei="w"
                        data-tei-norm="fever">
                        <span class="norm">fever</span>
                        <span class="orig">feavor</span>
                      </span>
                      <span
                        class="tei-w not-a-word"
                        data-tei="w"
                        data-tei-norm="and">
                        <span class="norm">and</span>
                        <span class="orig">&amp;</span>
                      </span>
                      the
                      <span
                        class="tei-w"
                        data-tei="w"
                        data-tei-norm="measles">
                        <span class="norm">measles</span>
                        <span class="orig">measells</span>
                      </span>
                      <span
                        class="tei-supplied not-a-word"
                        data-tei="supplied"
                        data-tei-reason="mod">,</span>
                      <span
                        class="tei-anchor tei-type-oed has-info-box"
                        data-tei="anchor"
                        data-tei-corresp="#ednote-0015"
                        data-tei-type="oed"
                        data-tei-resp="ednote">
                        <span
                          class="tei-note tei-type-oed info-box"
                          data-tei="note"
                          data-tei-n="14"
                          data-tei-type="oed"
                          data-tei-id="ednote-0015">
                          <span class="banner">(Note)</span>
                          <span class="body">
                            <span class="tei-p" data-tei="p">
                              On seventeenth-century measles see Alan Dyer, ‘Epidemics
                              of Measles in a Seventeenth Century English Town’,
                              <span
                                class="tei-hi"
                                data-tei="hi"
                                data-tei-rend="italic">Local Population Studies</span>
                              34 (1985): 35–45. In early use,
                              ‘measles’ could denote various diseases causing a red rash:
                              <span
                                class="tei-hi"
                                data-tei="hi"
                                data-tei-rend="italic">OED</span>.</span>
                          </span>
                        </span>
                      </span>
                      which<br class="tei-lb" data-tei="lb">
                      brought me so low that
                      <span
                        class="tei-rs tei-type-person has-info-box"
                        data-tei="rs"
                        data-tei-ref="ppl:awn1"
                        data-tei-n="per10"
                        data-tei-type="person">my
                        <span
                          class="tei-w"
                          data-tei="w"
                          data-tei-norm="aunt">
                          <span class="norm">aunt</span>
                          <span class="orig">Aunt</span>
                        </span>
                        <span
                          class="tei-note tei-type-entity info-box"
                          data-tei="note"
                          data-tei-type="entity">
                          <span class="banner">Person (Entity)</span>
                          <span class="body">Anne Norton (1593-1683)</span>
                        </span>
                      </span>
                      <span
                        class="tei-w not-a-word"
                        data-tei="w"
                        data-tei-norm="and">
                        <span class="norm">and</span>
                        <span class="orig">&amp;</span>
                      </span>
                      <span
                        class="tei-persName has-info-box"
                        data-tei="persName"
                        data-tei-ref="ppl:st1"
                        data-tei-n="per11">
                        <span
                          class="tei-w"
                          data-tei="w"
                          data-tei-norm="Sarah">
                          <span class="norm">Sarah</span>
                          <span class="orig">Sara</span>
                        </span><br class="tei-lb" data-tei="lb">
                        Tomlinson<span
                          class="tei-note tei-type-entity info-box"
                          data-tei="note"
                          data-tei-type="entity">
                          <span class="banner">Person (Entity)</span>
                          <span class="body">Sarah
                            Tomlinson
                          </span>
                        </span>
                      </span>
                      <span
                        class="tei-supplied not-a-word"
                        data-tei="supplied"
                        data-tei-reason="mod">,</span>
                      our
                      <span
                        class="tei-w"
                        data-tei="w"
                        data-tei-norm="maid">
                        <span class="norm">maid</span>
                        <span class="orig">maide</span>
                      </span>
                      <span
                        class="tei-supplied not-a-word"
                        data-tei="supplied"
                        data-tei-reason="mod">,</span>
                      <span
                        class="tei-w"
                        data-tei="w"
                        data-tei-norm="almost">
                        <span class="norm">almost</span>
                        <span class="orig">allmost</span>
                      </span>
                      despaired<br class="tei-lb" data-tei="lb">
                      of my
                      <span
                        class="tei-w tei-type-l"
                        data-tei="w"
                        data-tei-norm="life"
                        data-tei-type="l">
                        <span class="norm">life</span>
                        <span class="orig">Life</span>
                      </span>.
                    </p>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>