<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/assets/css/textviewer2.css' | url }}?ts={{ "now" | date: "%s" }}">
    <script>
      window.metadata = {{ metadata.front_end|json }};
    </script>
</head>
  <body>
    <nav class="textviewer-nav">
      <ul>
        <li>
          <h1><img
              src="https://thornton.kdl.kcl.ac.uk/assets/img/logos/alice-thornton-logo-img.jpeg"
              alt="AT logo"
              width="30"
              height="30">Alice Thornton's Books
            <span>Digital Edition</span>
          </h1>
        </li>
        <li></li>
        <li class="tooltip">⚃
          <span class="tooltiptext left">4 Books Preview</span>
        </li>
        <li class="tooltip">?
          <span class="tooltiptext left">Help guidelines on how to use this text viewer</span>
        </li>
      </ul>
    </nav>
    <main>
      {{ content }}
    </main>
  </body>
</html>