@font-face {
    font-family: 'Lora';
    src: url('/assets/fonts/Lora/Lora-VariableFont_wght.ttf') format('woff2-variations');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: oblique 0deg 20deg;
}

// @font-face {
//     font-family: 'Montserrat';
//     src: url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff2-variations');
//     font-weight: 125 950;
//     font-stretch: 75% 125%;
//     font-style: oblique 0deg 20deg;
// }

@font-face {
    font-family: 'Noto';
    src: url('/assets/fonts/Noto_Sans_Display/NotoSansDisplay-VariableFont.ttf') format('woff2-variations');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: oblique 0deg 20deg;
}