// Palette
// See Bulma variables:
// https: //bulma.io/documentation/customize/variables/

/* 
  GF 04/05/2022: Convention to define colour variable names.
  We use names that are not tied to neither the specific colour
  nor to the object they are initially tied to.
  Initial colour palette derived from flat designs:
  https: //www.figma.com/file/8mGkpFZTQpL7kpGCOYRgC8/Alice-Thornton?node-id=164%3A1480
*/

@import "utilities/_all.sass";
@import "fonts.scss";

$white: #fbfbfb;
$primary: #462200;
// $secondary: #c45300;
// GF 18/05/2022: changed to a slightly darker orange to meet accessiblity
// requirements for colour contrast
$secondary: #b34200;
$accent: #df8833;
$light: #cdcac7;
$dark: #0a0a0a;

// Shared layout

body {
  background-color: $white;
  font-family: "Montserrat", sans-serif;
  font-weight: 450;
  line-height: 1.75;
}

a {
  text-decoration: underline;

  &:hover {
    background-color: lighten($accent, 25%);
  }
}

.content {
  h1, h2, h3,
  h4, h5, h6 {
    color: $secondary;
    font-family: "Lora", serif;
  }
}

h1, h2, h3,
h4, h5, h6 {
  color: $secondary;
  font-family: "Lora", serif;
}

.title {
  color: $secondary;
}

footer,
.footer {
  background-color: lighten($light, 30%);
}

.logo {
  img {
    background: $white;
    border-radius: 50%;
    display: block;
    margin-right: 8px;
    width: 50px;
  }
}

.navbar {
  background-color: $primary;
  color: $light;

  .navbar-burger {
    color: $light;
    &:hover {
      background-color: $light;
      color: $primary;
    }
  }

  a.navbar-item {
    background-color: $primary;
    padding: 1.5rem 1rem 1.25rem;
    text-decoration: none;
    // @include touch {
    //   background-color: $primary;
    // }

    color: $light;
    
    &.is-active {
      border-bottom: 4px solid $white;
      color: $white;
    }

    @include touch {
      &.is-active {
        background-color: $secondary;
        border-bottom: none;
      }
    }

    &:hover {
      background-color: $white;
      color: $primary;
    }

    &:focus {
      border: 1px solid $accent;
    }
  }

  .navbar-menu {
    background-color: $primary;

    .is-active {
      color: $primary;
    }
  }
}

// /posts

.post-meta {
  font-style: italic;
}

// 
div.content {
  img {
    background: $light;
    min-width: 250px;
    padding: 5px;
  }
}

img[src*='#right'] {
  float: right;
  margin-left: .5em;
}

img[src*='#left'] {
  float: left;
  margin-right: .5em;
}

img[src*='#center'] {
  display: block;
  margin: .5em auto;
}

img[src*='#left'],
img[src*='#right'],
img[src*='#center'] {
  width: 20vw;

  @include mobile {
    display: block;
    float: none;
    margin: .5em 0;
    width: 100%;
  }
}

.person {
  display: inline-block;
  vertical-align: top;
  width: 10vw;
  padding: 1em;
}

.post-summary {
  margin-bottom: 2em;


  .post-excerpt {
    img {
      float: left;
      width: 10vw;
    }
  }

  &:after {
    content: "";
    clear: both;
    display: table;
  }
}