// Palette
// See Bulma variables:
// https: //bulma.io/documentation/customize/variables/

/* 
  GF 04/05/2022: Convention to define colour variable names.
  We use names that are not tied to neither the specific colour
  nor to the object they are initially tied to.
  Initial colour palette derived from flat designs:
  https: //www.figma.com/file/8mGkpFZTQpL7kpGCOYRgC8/Alice-Thornton?node-id=164%3A1480
*/

@import "utilities/_all.sass";
@import "fonts.scss";

// Project variables

$white: #fbfbfb;
$primary: #462200;
// $secondary: #c45300;
// GF 18/05/2022: changed to a slightly darker orange to meet accessiblity
// requirements for colour contrast
$secondary: #b34200;
$accent: #df8833;
$light: #cdcac7;
$dark: #0a0a0a;

// Shared layout

// Grid based layoout
// .wrapper {
//   display: grid;
//   grid-template-columns: 100%;
//   grid-gap: 10px;

//   @include desktop {
//     grid-template-columns: 70% 30%;
//   }
// }

body {
  background-color: $white;
  font-family: "Noto", sans-serif;
  font-size: 18px;
  font-weight: 450;
  line-height: 1.75;
}

a {
  text-decoration: underline;

  &:hover {
    background-color: lighten($accent, 25%);
  }
}

p {
  &.small {
    font-size: .875em;
  }
}

// Headings

.content {
  h1, h2, h3,
  h4, h5, h6 {
    color: $secondary;
    font-family: "Lora", serif;
  }
}

h1, h2, h3,
h4, h5, h6 {
  color: $secondary;
  font-family: "Lora", serif;

  &.small-heading {
    font-size: 1em;
  }
}

.title {
  color: $secondary;
}

// Index pages with images

.index-page-w-images {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 15px;

  @include mobile {
    grid-template-columns: 100%;
  }

  img {
    width: 100%;
  }
}

footer,
.footer {
  background-color: lighten($light, 30%);
}

// Alignment

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Images */

// Gallery

[class^="gallery-"] {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 5px;
  
  img {
    width: 100% !important;
  }

  p {
    margin-bottom: 0;
  }
}

.gallery-by-2 {
  grid-template-columns: 50% 50%;
}

.gallery-by-3 {
  @include tablet {
    grid-template-columns: 33% 33% 33%;
  }
}

.gallery-by-4 {
  @include tablet {
    grid-template-columns: 50% 50%;
  }

  @include desktop {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

.logo {
  img {
    background: $white;
    border: 1px solid $light;
    border-radius: 50%;
    display: block;
    height: 50px;
    max-height: 50px;
    margin-right: 8px;
    width: 50px;
  }
}

.logos,
.content .logos,
[class^="gallery-"] .logos {
  img {
    background: transparent;
    padding: 50px;
  }
}

.navbar {
  background-color: $primary;
  color: $light;

  .navbar-burger {
    color: $light;
    &:hover {
      background-color: $light;
      color: $primary;
    }
  }

  a.navbar-item {
    background-color: $primary;
    padding: 1.5rem 1rem 1.25rem;
    text-decoration: none;

    color: $light;
    
    &.is-active {
      border-bottom: 4px solid $white;
      color: $white;
    }

    @include touch {
      &.is-active {
        background-color: $secondary;
        border-bottom: none;
      }
    }

    &:hover {
      background-color: $white;
      color: $primary;
    }

    &:focus {
      border: 1px solid $accent;
    }
  }

  .navbar-menu {
    background-color: $primary;

    .is-active {
      color: $primary;
    }
  }
}

// /posts

.post-meta {
  font-size: .875em;
  font-style: italic;
  // font-variation-settings: 'ital' 1;
}

// 
div.content {
  img {
    background: $light;
    padding: 3px;
  }
}

img[src*='#right'] {
  float: right;
  margin-left: .5em;
}

img[src*='#left'] {
  float: left;
  margin-right: .5em;
}

img[src*='#center'] {
  display: block;
  margin: .5em auto;
}

img[src*='#left'],
img[src*='#right'],
img[src*='#center'] {
  width: 20vw;

  @include mobile {
    display: block;
    float: none;
    margin: .5em 0;
    width: 100%;
  }
}

.person {
  :not(first-child) {
    padding: 1em;
  }
}
