---
# Creates /posts/news/, /posts/blog/, ... index pages
layout: base.liquid
# so it's not treated as a post
override:tags: []
pagination:
  data: collections.postsTags
  size: 1
  alias: postsTag
permalink: "posts/tags/{{ postsTag.name }}/index.html"
eleventyComputed:
  title: "Posts tagged with '{{ postsTag.name }}'"
---

{% assign posts = collections.postsLive | lookup:".data.tags",postsTag.name %}

{% for post in posts %}
  {% include "post_summary.liquid" %}
{% endfor %}

<p><a href="..">List of all tags</a></p>
