---
# Creates /posts/news/, /posts/blog/, ... index pages
layout: base.liquid
# so it's not treated as a post
override:tags: []
pagination:
  data: collections.postsTags
  size: 1
  alias: postsTag
permalink: "posts/tags/{{ postsTag.name }}/index.html"
eleventyComputed:
  title: "Posts tagged with '{{ postsTag.name }}'"
---

{% assign posts = collections.postsLive | lookup:".data.tags",postsTag.name %}

<nav class="post-meta">
  Filter by:
  <a href="/posts/blog/" class="category-link tag is-accent">Blogs</a>
  <a href="/posts/news/" class="category-link tag is-accent">News</a> 
  <a href="/posts/tags/" class="tag is-info is-light">Tags</a>
</nav>
<br>

{% for post in posts %}
  {% include "post_summary.liquid" %}
{% endfor %}
