---
layout: base.liquid
# so it's not treated as a post
override:tags: []
title: "Tags applied to posts"
---

<ul>
  {% for tag in collections.postsTags %}
    <li><a href="{{tag}}">{{ tag }}</a></li>
  {% endfor %}
</ul>
